body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1094px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u3850 {
  position:absolute;
  left:400px;
  top:10px;
  width:422px;
  height:829px;
}
#u3851 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3852 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:667px;
}
#u3853 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3854 {
  position:absolute;
  left:432px;
  top:102px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3855 {
  position:absolute;
  left:472px;
  top:655px;
  width:276px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:92px;
}
#u3856 {
  position:absolute;
  left:844px;
  top:622px;
  width:250px;
  height:92px;
}
#u3857 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u3858_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3858 {
  position:absolute;
  left:844px;
  top:186px;
  width:250px;
  height:58px;
  text-align:left;
}
#u3859 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:74px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3860 {
  position:absolute;
  left:844px;
  top:396px;
  width:250px;
  height:74px;
  text-align:left;
}
#u3861 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3862_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3862 {
  position:absolute;
  left:132px;
  top:361px;
  width:250px;
  height:60px;
  text-align:left;
}
#u3863 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3864 {
  position:absolute;
  left:382px;
  top:391px;
  width:0px;
  height:0px;
}
#u3864_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:188px;
  height:8px;
}
#u3864_seg1 {
  position:absolute;
  left:180px;
  top:-17px;
  width:8px;
  height:21px;
}
#u3864_seg2 {
  position:absolute;
  left:174px;
  top:-24px;
  width:20px;
  height:21px;
}
#u3865 {
  position:absolute;
  left:50px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3866 {
  position:absolute;
  left:844px;
  top:215px;
  width:0px;
  height:0px;
}
#u3866_seg0 {
  position:absolute;
  left:-68px;
  top:-4px;
  width:68px;
  height:8px;
}
#u3866_seg1 {
  position:absolute;
  left:-68px;
  top:-3px;
  width:8px;
  height:7px;
}
#u3866_seg2 {
  position:absolute;
  left:-74px;
  top:-10px;
  width:20px;
  height:21px;
}
#u3867 {
  position:absolute;
  left:-84px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3868 {
  position:absolute;
  left:844px;
  top:433px;
  width:0px;
  height:0px;
}
#u3868_seg0 {
  position:absolute;
  left:-61px;
  top:-4px;
  width:61px;
  height:8px;
}
#u3868_seg1 {
  position:absolute;
  left:-61px;
  top:-1px;
  width:8px;
  height:5px;
}
#u3868_seg2 {
  position:absolute;
  left:-67px;
  top:-8px;
  width:20px;
  height:21px;
}
#u3869 {
  position:absolute;
  left:-79px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3870 {
  position:absolute;
  left:844px;
  top:668px;
  width:0px;
  height:0px;
}
#u3870_seg0 {
  position:absolute;
  left:-87px;
  top:-4px;
  width:87px;
  height:8px;
}
#u3870_seg1 {
  position:absolute;
  left:-87px;
  top:-1px;
  width:8px;
  height:5px;
}
#u3870_seg2 {
  position:absolute;
  left:-93px;
  top:-8px;
  width:20px;
  height:21px;
}
#u3871 {
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
