body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1094px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3566_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u3566 {
  position:absolute;
  left:400px;
  top:10px;
  width:422px;
  height:829px;
}
#u3567 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3568 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3569 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:667px;
}
#u3570 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:366px;
}
#u3571 {
  position:absolute;
  left:421px;
  top:378px;
  width:375px;
  height:366px;
}
#u3572 {
  position:absolute;
  left:2px;
  top:175px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3573 {
  position:absolute;
  left:432px;
  top:102px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3574_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:81px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3574 {
  position:absolute;
  left:132px;
  top:144px;
  width:250px;
  height:81px;
  text-align:left;
}
#u3575 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3576 {
  position:absolute;
  left:382px;
  top:185px;
  width:0px;
  height:0px;
}
#u3576_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u3576_seg1 {
  position:absolute;
  left:44px;
  top:-4px;
  width:8px;
  height:8px;
}
#u3576_seg2 {
  position:absolute;
  left:38px;
  top:-11px;
  width:20px;
  height:21px;
}
#u3577 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3578_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:62px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3578 {
  position:absolute;
  left:844px;
  top:91px;
  width:250px;
  height:62px;
  text-align:left;
}
#u3579 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3580 {
  position:absolute;
  left:844px;
  top:122px;
  width:0px;
  height:0px;
}
#u3580_seg0 {
  position:absolute;
  left:-62px;
  top:-4px;
  width:62px;
  height:8px;
}
#u3580_seg1 {
  position:absolute;
  left:-62px;
  top:-2px;
  width:8px;
  height:6px;
}
#u3580_seg2 {
  position:absolute;
  left:-68px;
  top:-9px;
  width:20px;
  height:21px;
}
#u3581 {
  position:absolute;
  left:-80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
