body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1094px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u3050 {
  position:absolute;
  left:400px;
  top:10px;
  width:422px;
  height:829px;
}
#u3051 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3052 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:667px;
}
#u3053 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3054 {
  position:absolute;
  left:432px;
  top:101px;
  width:34px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3055 {
  position:absolute;
  left:440px;
  top:372px;
  width:338px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:446px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3056 {
  position:absolute;
  left:132px;
  top:357px;
  width:250px;
  height:446px;
  text-align:left;
}
#u3057 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:224px;
}
#u3058 {
  position:absolute;
  left:132px;
  top:115px;
  width:250px;
  height:224px;
}
#u3059 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u3060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3060 {
  position:absolute;
  left:844px;
  top:689px;
  width:250px;
  height:39px;
  text-align:left;
}
#u3061 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3062 {
  position:absolute;
  left:844px;
  top:709px;
  width:0px;
  height:0px;
}
#u3062_seg0 {
  position:absolute;
  left:-125px;
  top:-4px;
  width:129px;
  height:8px;
}
#u3062_seg1 {
  position:absolute;
  left:-132px;
  top:-10px;
  width:21px;
  height:20px;
}
#u3063 {
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3064 {
  position:absolute;
  left:382px;
  top:227px;
  width:0px;
  height:0px;
}
#u3064_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u3064_seg1 {
  position:absolute;
  left:44px;
  top:-3px;
  width:8px;
  height:7px;
}
#u3064_seg2 {
  position:absolute;
  left:38px;
  top:-10px;
  width:20px;
  height:21px;
}
#u3065 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3066 {
  position:absolute;
  left:382px;
  top:580px;
  width:0px;
  height:0px;
}
#u3066_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:36px;
  height:8px;
}
#u3066_seg1 {
  position:absolute;
  left:28px;
  top:-184px;
  width:8px;
  height:188px;
}
#u3066_seg2 {
  position:absolute;
  left:28px;
  top:-184px;
  width:27px;
  height:8px;
}
#u3066_seg3 {
  position:absolute;
  left:47px;
  top:-184px;
  width:8px;
  height:8px;
}
#u3066_seg4 {
  position:absolute;
  left:41px;
  top:-191px;
  width:20px;
  height:21px;
}
#u3067 {
  position:absolute;
  left:-18px;
  top:-94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:39px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3068 {
  position:absolute;
  left:844px;
  top:259px;
  width:250px;
  height:39px;
  text-align:left;
}
#u3069 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3070_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:27px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3070 {
  position:absolute;
  left:844px;
  top:212px;
  width:250px;
  height:27px;
  text-align:left;
}
#u3071 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3072 {
  position:absolute;
  left:844px;
  top:226px;
  width:0px;
  height:0px;
}
#u3072_seg0 {
  position:absolute;
  left:-60px;
  top:-4px;
  width:60px;
  height:8px;
}
#u3072_seg1 {
  position:absolute;
  left:-60px;
  top:-3px;
  width:8px;
  height:7px;
}
#u3072_seg2 {
  position:absolute;
  left:-66px;
  top:-10px;
  width:20px;
  height:21px;
}
#u3073 {
  position:absolute;
  left:-80px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3074 {
  position:absolute;
  left:844px;
  top:279px;
  width:0px;
  height:0px;
}
#u3074_seg0 {
  position:absolute;
  left:-58px;
  top:-4px;
  width:58px;
  height:8px;
}
#u3074_seg1 {
  position:absolute;
  left:-58px;
  top:-4px;
  width:8px;
  height:8px;
}
#u3074_seg2 {
  position:absolute;
  left:-64px;
  top:-11px;
  width:20px;
  height:21px;
}
#u3075 {
  position:absolute;
  left:-79px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
