body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1982px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2338_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u2338 {
  position:absolute;
  left:400px;
  top:10px;
  width:422px;
  height:829px;
}
#u2339 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2340 {
  position:absolute;
  left:421px;
  top:78px;
  width:375px;
  height:667px;
  overflow:hidden;
  touch-action:none;
}
#u2340_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2340_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2341_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1935px;
}
#u2341 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1935px;
}
#u2342 {
  position:absolute;
  left:2px;
  top:960px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2343_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
}
#u2343 {
  position:absolute;
  left:421px;
  top:696px;
  width:375px;
  height:51px;
}
#u2344 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
}
#u2345 {
  position:absolute;
  left:421px;
  top:78px;
  width:375px;
  height:68px;
}
#u2346 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2347 {
  position:absolute;
  left:429px;
  top:104px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2348 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2349_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:330px;
}
#u2349 {
  position:absolute;
  left:1292px;
  top:10px;
  width:422px;
  height:330px;
}
#u2350 {
  position:absolute;
  left:2px;
  top:157px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2351_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:1460px;
}
#u2351 {
  position:absolute;
  left:1292px;
  top:340px;
  width:422px;
  height:1460px;
}
#u2352 {
  position:absolute;
  left:2px;
  top:722px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2353_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:357px;
}
#u2353 {
  position:absolute;
  left:1292px;
  top:1800px;
  width:422px;
  height:357px;
}
#u2354 {
  position:absolute;
  left:2px;
  top:170px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1986px;
}
#u2355 {
  position:absolute;
  left:1313px;
  top:76px;
  width:375px;
  height:1986px;
}
#u2356 {
  position:absolute;
  left:2px;
  top:985px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2357 {
  position:absolute;
  left:1020px;
  top:725px;
  width:250px;
  height:47px;
  text-align:left;
}
#u2358 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u2359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2359 {
  position:absolute;
  left:1732px;
  top:91px;
  width:250px;
  height:60px;
  text-align:left;
}
#u2360 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u2361 {
  position:absolute;
  left:1270px;
  top:749px;
  width:0px;
  height:0px;
}
#u2361_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u2361_seg1 {
  position:absolute;
  left:53px;
  top:-1px;
  width:8px;
  height:5px;
}
#u2361_seg2 {
  position:absolute;
  left:47px;
  top:-8px;
  width:20px;
  height:21px;
}
#u2362 {
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2363 {
  position:absolute;
  left:1732px;
  top:121px;
  width:0px;
  height:0px;
}
#u2363_seg0 {
  position:absolute;
  left:-55px;
  top:-4px;
  width:55px;
  height:8px;
}
#u2363_seg1 {
  position:absolute;
  left:-55px;
  top:-4px;
  width:8px;
  height:8px;
}
#u2363_seg2 {
  position:absolute;
  left:-61px;
  top:-10px;
  width:20px;
  height:21px;
}
#u2364 {
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2365_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:449px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2365 {
  position:absolute;
  left:1020px;
  top:812px;
  width:250px;
  height:449px;
  text-align:left;
}
#u2366 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u2367_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:267px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2367 {
  position:absolute;
  left:1732px;
  top:777px;
  width:250px;
  height:267px;
  text-align:left;
}
#u2368 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u2369 {
  position:absolute;
  left:1732px;
  top:911px;
  width:0px;
  height:0px;
}
#u2369_seg0 {
  position:absolute;
  left:-55px;
  top:-4px;
  width:55px;
  height:8px;
}
#u2369_seg1 {
  position:absolute;
  left:-55px;
  top:-2px;
  width:8px;
  height:6px;
}
#u2369_seg2 {
  position:absolute;
  left:-61px;
  top:-9px;
  width:20px;
  height:21px;
}
#u2370 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2371 {
  position:absolute;
  left:1270px;
  top:1037px;
  width:0px;
  height:0px;
}
#u2371_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u2371_seg1 {
  position:absolute;
  left:16px;
  top:-191px;
  width:8px;
  height:195px;
}
#u2371_seg2 {
  position:absolute;
  left:16px;
  top:-191px;
  width:43px;
  height:8px;
}
#u2371_seg3 {
  position:absolute;
  left:51px;
  top:-188px;
  width:8px;
  height:5px;
}
#u2371_seg4 {
  position:absolute;
  left:45px;
  top:-195px;
  width:20px;
  height:21px;
}
#u2372 {
  position:absolute;
  left:-30px;
  top:-110px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:114px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2373 {
  position:absolute;
  left:1732px;
  top:2002px;
  width:250px;
  height:114px;
  text-align:left;
}
#u2374 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u2375 {
  position:absolute;
  left:1732px;
  top:2059px;
  width:0px;
  height:0px;
}
#u2375_seg0 {
  position:absolute;
  left:-134px;
  top:-4px;
  width:134px;
  height:8px;
}
#u2375_seg1 {
  position:absolute;
  left:-134px;
  top:-17px;
  width:8px;
  height:21px;
}
#u2375_seg2 {
  position:absolute;
  left:-140px;
  top:-24px;
  width:20px;
  height:21px;
}
#u2376 {
  position:absolute;
  left:-124px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2377 {
  position:absolute;
  left:1020px;
  top:2018px;
  width:250px;
  height:49px;
  text-align:left;
}
#u2378 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u2379 {
  position:absolute;
  left:1270px;
  top:2043px;
  width:0px;
  height:0px;
}
#u2379_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u2379_seg1 {
  position:absolute;
  left:50px;
  top:-4px;
  width:8px;
  height:7px;
}
#u2379_seg2 {
  position:absolute;
  left:44px;
  top:-11px;
  width:20px;
  height:21px;
}
#u2380 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u2381 {
  position:absolute;
  left:1732px;
  top:1764px;
  width:250px;
  height:58px;
  text-align:left;
}
#u2382 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u2383 {
  position:absolute;
  left:1732px;
  top:1793px;
  width:0px;
  height:0px;
}
#u2383_seg0 {
  position:absolute;
  left:-78px;
  top:-4px;
  width:78px;
  height:8px;
}
#u2383_seg1 {
  position:absolute;
  left:-78px;
  top:-4px;
  width:8px;
  height:5px;
}
#u2383_seg2 {
  position:absolute;
  left:-84px;
  top:-13px;
  width:20px;
  height:21px;
}
#u2384 {
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
