body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1982px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u3020 {
  position:absolute;
  left:400px;
  top:10px;
  width:422px;
  height:829px;
}
#u3021 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3022 {
  position:absolute;
  left:421px;
  top:78px;
  width:375px;
  height:667px;
  overflow:hidden;
  touch-action:none;
}
#u3022_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3022_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1935px;
}
#u3023 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1935px;
}
#u3024 {
  position:absolute;
  left:2px;
  top:960px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
}
#u3025 {
  position:absolute;
  left:421px;
  top:696px;
  width:375px;
  height:51px;
}
#u3026 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:68px;
}
#u3027 {
  position:absolute;
  left:421px;
  top:78px;
  width:375px;
  height:68px;
}
#u3028 {
  position:absolute;
  left:2px;
  top:26px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3029 {
  position:absolute;
  left:429px;
  top:104px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3030 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:330px;
}
#u3031 {
  position:absolute;
  left:1292px;
  top:10px;
  width:422px;
  height:330px;
}
#u3032 {
  position:absolute;
  left:2px;
  top:157px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:1460px;
}
#u3033 {
  position:absolute;
  left:1292px;
  top:340px;
  width:422px;
  height:1460px;
}
#u3034 {
  position:absolute;
  left:2px;
  top:722px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:357px;
}
#u3035 {
  position:absolute;
  left:1292px;
  top:1800px;
  width:422px;
  height:357px;
}
#u3036 {
  position:absolute;
  left:2px;
  top:170px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1986px;
}
#u3037 {
  position:absolute;
  left:1313px;
  top:76px;
  width:375px;
  height:1986px;
}
#u3038 {
  position:absolute;
  left:2px;
  top:985px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:47px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3039 {
  position:absolute;
  left:1020px;
  top:725px;
  width:250px;
  height:47px;
  text-align:left;
}
#u3040 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3041 {
  position:absolute;
  left:1732px;
  top:91px;
  width:250px;
  height:60px;
  text-align:left;
}
#u3042 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3043 {
  position:absolute;
  left:1270px;
  top:749px;
  width:0px;
  height:0px;
}
#u3043_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:61px;
  height:8px;
}
#u3043_seg1 {
  position:absolute;
  left:53px;
  top:-1px;
  width:8px;
  height:5px;
}
#u3043_seg2 {
  position:absolute;
  left:47px;
  top:-8px;
  width:20px;
  height:21px;
}
#u3044 {
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3045 {
  position:absolute;
  left:1732px;
  top:121px;
  width:0px;
  height:0px;
}
#u3045_seg0 {
  position:absolute;
  left:-55px;
  top:-4px;
  width:55px;
  height:8px;
}
#u3045_seg1 {
  position:absolute;
  left:-55px;
  top:-4px;
  width:8px;
  height:8px;
}
#u3045_seg2 {
  position:absolute;
  left:-61px;
  top:-10px;
  width:20px;
  height:21px;
}
#u3046 {
  position:absolute;
  left:-78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:449px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3047 {
  position:absolute;
  left:1020px;
  top:812px;
  width:250px;
  height:449px;
  text-align:left;
}
#u3048 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3049_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:267px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3049 {
  position:absolute;
  left:1732px;
  top:777px;
  width:250px;
  height:267px;
  text-align:left;
}
#u3050 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3051 {
  position:absolute;
  left:1732px;
  top:911px;
  width:0px;
  height:0px;
}
#u3051_seg0 {
  position:absolute;
  left:-55px;
  top:-4px;
  width:55px;
  height:8px;
}
#u3051_seg1 {
  position:absolute;
  left:-55px;
  top:-2px;
  width:8px;
  height:6px;
}
#u3051_seg2 {
  position:absolute;
  left:-61px;
  top:-9px;
  width:20px;
  height:21px;
}
#u3052 {
  position:absolute;
  left:-76px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3053 {
  position:absolute;
  left:1270px;
  top:1037px;
  width:0px;
  height:0px;
}
#u3053_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:24px;
  height:8px;
}
#u3053_seg1 {
  position:absolute;
  left:16px;
  top:-191px;
  width:8px;
  height:195px;
}
#u3053_seg2 {
  position:absolute;
  left:16px;
  top:-191px;
  width:43px;
  height:8px;
}
#u3053_seg3 {
  position:absolute;
  left:51px;
  top:-188px;
  width:8px;
  height:5px;
}
#u3053_seg4 {
  position:absolute;
  left:45px;
  top:-195px;
  width:20px;
  height:21px;
}
#u3054 {
  position:absolute;
  left:-30px;
  top:-110px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:114px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3055 {
  position:absolute;
  left:1732px;
  top:2002px;
  width:250px;
  height:114px;
  text-align:left;
}
#u3056 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3057 {
  position:absolute;
  left:1732px;
  top:2059px;
  width:0px;
  height:0px;
}
#u3057_seg0 {
  position:absolute;
  left:-134px;
  top:-4px;
  width:134px;
  height:8px;
}
#u3057_seg1 {
  position:absolute;
  left:-134px;
  top:-17px;
  width:8px;
  height:21px;
}
#u3057_seg2 {
  position:absolute;
  left:-140px;
  top:-24px;
  width:20px;
  height:21px;
}
#u3058 {
  position:absolute;
  left:-124px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:49px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3059 {
  position:absolute;
  left:1020px;
  top:2018px;
  width:250px;
  height:49px;
  text-align:left;
}
#u3060 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3061 {
  position:absolute;
  left:1270px;
  top:2043px;
  width:0px;
  height:0px;
}
#u3061_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:58px;
  height:8px;
}
#u3061_seg1 {
  position:absolute;
  left:50px;
  top:-4px;
  width:8px;
  height:7px;
}
#u3061_seg2 {
  position:absolute;
  left:44px;
  top:-11px;
  width:20px;
  height:21px;
}
#u3062 {
  position:absolute;
  left:-22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:58px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3063 {
  position:absolute;
  left:1732px;
  top:1764px;
  width:250px;
  height:58px;
  text-align:left;
}
#u3064 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3065 {
  position:absolute;
  left:1732px;
  top:1793px;
  width:0px;
  height:0px;
}
#u3065_seg0 {
  position:absolute;
  left:-78px;
  top:-4px;
  width:78px;
  height:8px;
}
#u3065_seg1 {
  position:absolute;
  left:-78px;
  top:-4px;
  width:8px;
  height:5px;
}
#u3065_seg2 {
  position:absolute;
  left:-84px;
  top:-13px;
  width:20px;
  height:21px;
}
#u3066 {
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
