body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1094px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u3473 {
  position:absolute;
  left:400px;
  top:10px;
  width:422px;
  height:829px;
}
#u3474 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3475_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:277px;
}
#u3475 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:277px;
}
#u3476 {
  position:absolute;
  left:2px;
  top:130px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3477 {
  position:absolute;
  left:432px;
  top:102px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3478 {
  position:absolute;
  left:751px;
  top:102px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3479_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:305px;
}
#u3479 {
  position:absolute;
  left:421px;
  top:353px;
  width:375px;
  height:305px;
}
#u3480 {
  position:absolute;
  left:2px;
  top:144px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3481_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:77px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3481 {
  position:absolute;
  left:132px;
  top:164px;
  width:250px;
  height:77px;
  text-align:left;
}
#u3482 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3483_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:99px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3483 {
  position:absolute;
  left:844px;
  top:334px;
  width:250px;
  height:99px;
  text-align:left;
}
#u3484 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3485_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:92px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3485 {
  position:absolute;
  left:132px;
  top:293px;
  width:250px;
  height:92px;
  text-align:left;
}
#u3486 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3487 {
  position:absolute;
  left:382px;
  top:339px;
  width:0px;
  height:0px;
}
#u3487_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:102px;
  height:8px;
}
#u3487_seg1 {
  position:absolute;
  left:94px;
  top:-4px;
  width:8px;
  height:8px;
}
#u3487_seg2 {
  position:absolute;
  left:88px;
  top:-11px;
  width:20px;
  height:21px;
}
#u3488 {
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3489 {
  position:absolute;
  left:382px;
  top:203px;
  width:0px;
  height:0px;
}
#u3489_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u3489_seg1 {
  position:absolute;
  left:58px;
  top:-4px;
  width:8px;
  height:8px;
}
#u3489_seg2 {
  position:absolute;
  left:52px;
  top:-11px;
  width:20px;
  height:21px;
}
#u3490 {
  position:absolute;
  left:-17px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3491 {
  position:absolute;
  left:844px;
  top:384px;
  width:0px;
  height:0px;
}
#u3491_seg0 {
  position:absolute;
  left:-77px;
  top:-4px;
  width:77px;
  height:8px;
}
#u3491_seg1 {
  position:absolute;
  left:-77px;
  top:-1px;
  width:8px;
  height:5px;
}
#u3491_seg2 {
  position:absolute;
  left:-83px;
  top:-8px;
  width:20px;
  height:21px;
}
#u3492 {
  position:absolute;
  left:-87px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
