body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:944px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:868px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:944px;
  height:868px;
}
#u24 {
  position:absolute;
  left:2px;
  top:426px;
  width:940px;
  visibility:hidden;
  word-wrap:break-word;
}
