body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1913.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u1956 {
  position:absolute;
  left:1440px;
  top:170px;
  width:422px;
  height:829px;
}
#u1957 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1958 {
  position:absolute;
  left:1461px;
  top:236px;
  width:375px;
  height:667px;
}
#u1959 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1960 {
  position:absolute;
  left:1695px;
  top:575px;
  width:89px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1961 {
  position:absolute;
  left:1516px;
  top:622px;
  width:268px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1962 {
  position:absolute;
  left:1479px;
  top:267px;
  width:20px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1963 {
  position:absolute;
  left:1700px;
  top:679px;
  width:70px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u1965 {
  position:absolute;
  left:834px;
  top:170px;
  width:422px;
  height:829px;
}
#u1966 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1967 {
  position:absolute;
  left:855px;
  top:236px;
  width:375px;
  height:667px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969 {
  position:absolute;
  left:1089px;
  top:575px;
  width:89px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1970 {
  position:absolute;
  left:907px;
  top:575px;
  width:62px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1971 {
  position:absolute;
  left:910px;
  top:622px;
  width:268px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1972 {
  position:absolute;
  left:873px;
  top:267px;
  width:20px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1973 {
  position:absolute;
  left:1094px;
  top:679px;
  width:70px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1974 {
  position:absolute;
  left:979px;
  top:478px;
  width:62px;
  height:25px;
}
#u1975 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u1977 {
  position:absolute;
  left:226px;
  top:170px;
  width:422px;
  height:829px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u1979 {
  position:absolute;
  left:247px;
  top:236px;
  width:375px;
  height:667px;
}
#u1980 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1981 {
  position:absolute;
  left:258px;
  top:261px;
  width:34px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1982 {
  position:absolute;
  left:266px;
  top:532px;
  width:338px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1983_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1983 {
  position:absolute;
  left:907px;
  top:574px;
  width:64px;
  height:21px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985 {
  position:absolute;
  left:907px;
  top:585px;
  width:0px;
  height:0px;
}
#u1985_seg0 {
  position:absolute;
  left:-250px;
  top:-4px;
  width:254px;
  height:8px;
}
#u1985_seg1 {
  position:absolute;
  left:-264px;
  top:-20px;
  width:40px;
  height:40px;
}
#u1986 {
  position:absolute;
  left:-175px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1987_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1987 {
  position:absolute;
  left:256px;
  top:260px;
  width:37px;
  height:35px;
}
#u1988 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989 {
  position:absolute;
  left:256px;
  top:278px;
  width:0px;
  height:0px;
}
#u1989_seg0 {
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u1989_seg1 {
  position:absolute;
  left:-56px;
  top:-177px;
  width:8px;
  height:181px;
}
#u1989_seg2 {
  position:absolute;
  left:-56px;
  top:-177px;
  width:753px;
  height:8px;
}
#u1989_seg3 {
  position:absolute;
  left:689px;
  top:-177px;
  width:8px;
  height:59px;
}
#u1989_seg4 {
  position:absolute;
  left:673px;
  top:-144px;
  width:40px;
  height:41px;
}
#u1990 {
  position:absolute;
  left:186px;
  top:-181px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1991 {
  position:absolute;
  left:1116px;
  top:574px;
  width:64px;
  height:21px;
}
#u1992 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1993 {
  position:absolute;
  left:1180px;
  top:585px;
  width:0px;
  height:0px;
}
#u1993_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:258px;
  height:8px;
}
#u1993_seg1 {
  position:absolute;
  left:228px;
  top:-20px;
  width:40px;
  height:40px;
}
#u1994 {
  position:absolute;
  left:77px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1995 {
  position:absolute;
  left:1724px;
  top:574px;
  width:64px;
  height:21px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997 {
  position:absolute;
  left:1788px;
  top:585px;
  width:0px;
  height:0px;
}
#u1997_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u1997_seg1 {
  position:absolute;
  left:119px;
  top:-484px;
  width:8px;
  height:488px;
}
#u1997_seg2 {
  position:absolute;
  left:-663px;
  top:-484px;
  width:790px;
  height:8px;
}
#u1997_seg3 {
  position:absolute;
  left:-663px;
  top:-484px;
  width:8px;
  height:58px;
}
#u1997_seg4 {
  position:absolute;
  left:-679px;
  top:-452px;
  width:40px;
  height:41px;
}
#u1998 {
  position:absolute;
  left:-44px;
  top:-488px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
