body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2290.5px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u2029 {
  position:absolute;
  left:1817px;
  top:235px;
  width:422px;
  height:829px;
}
#u2030 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2031 {
  position:absolute;
  left:1838px;
  top:301px;
  width:375px;
  height:667px;
}
#u2032 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2033 {
  position:absolute;
  left:2072px;
  top:640px;
  width:89px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2034 {
  position:absolute;
  left:1893px;
  top:687px;
  width:268px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2035 {
  position:absolute;
  left:1856px;
  top:332px;
  width:20px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2036 {
  position:absolute;
  left:2077px;
  top:744px;
  width:70px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u2038 {
  position:absolute;
  left:1211px;
  top:235px;
  width:422px;
  height:829px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2040 {
  position:absolute;
  left:1232px;
  top:301px;
  width:375px;
  height:667px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042 {
  position:absolute;
  left:1466px;
  top:640px;
  width:89px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2043 {
  position:absolute;
  left:1284px;
  top:640px;
  width:62px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2044 {
  position:absolute;
  left:1287px;
  top:687px;
  width:268px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2045 {
  position:absolute;
  left:1250px;
  top:332px;
  width:20px;
  height:23px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2046 {
  position:absolute;
  left:1471px;
  top:744px;
  width:70px;
  height:14px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2047_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2047 {
  position:absolute;
  left:1356px;
  top:543px;
  width:62px;
  height:25px;
}
#u2048 {
  position:absolute;
  left:2px;
  top:4px;
  width:58px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u2050 {
  position:absolute;
  left:603px;
  top:235px;
  width:422px;
  height:829px;
}
#u2051 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2052 {
  position:absolute;
  left:624px;
  top:301px;
  width:375px;
  height:667px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054 {
  position:absolute;
  left:635px;
  top:326px;
  width:34px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2055 {
  position:absolute;
  left:643px;
  top:597px;
  width:338px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2056 {
  position:absolute;
  left:1284px;
  top:639px;
  width:64px;
  height:21px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058 {
  position:absolute;
  left:1284px;
  top:650px;
  width:0px;
  height:0px;
}
#u2058_seg0 {
  position:absolute;
  left:-250px;
  top:-4px;
  width:254px;
  height:8px;
}
#u2058_seg1 {
  position:absolute;
  left:-264px;
  top:-20px;
  width:40px;
  height:40px;
}
#u2059 {
  position:absolute;
  left:-175px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2060 {
  position:absolute;
  left:633px;
  top:325px;
  width:37px;
  height:35px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:10px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062 {
  position:absolute;
  left:633px;
  top:343px;
  width:0px;
  height:0px;
}
#u2062_seg0 {
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u2062_seg1 {
  position:absolute;
  left:-56px;
  top:-177px;
  width:8px;
  height:181px;
}
#u2062_seg2 {
  position:absolute;
  left:-56px;
  top:-177px;
  width:753px;
  height:8px;
}
#u2062_seg3 {
  position:absolute;
  left:689px;
  top:-177px;
  width:8px;
  height:59px;
}
#u2062_seg4 {
  position:absolute;
  left:673px;
  top:-144px;
  width:40px;
  height:40px;
}
#u2063 {
  position:absolute;
  left:186px;
  top:-181px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2064 {
  position:absolute;
  left:1493px;
  top:639px;
  width:64px;
  height:21px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066 {
  position:absolute;
  left:1557px;
  top:650px;
  width:0px;
  height:0px;
}
#u2066_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:258px;
  height:8px;
}
#u2066_seg1 {
  position:absolute;
  left:228px;
  top:-20px;
  width:40px;
  height:40px;
}
#u2067 {
  position:absolute;
  left:77px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2068 {
  position:absolute;
  left:2101px;
  top:639px;
  width:64px;
  height:21px;
}
#u2069 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2070 {
  position:absolute;
  left:2165px;
  top:650px;
  width:0px;
  height:0px;
}
#u2070_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:127px;
  height:8px;
}
#u2070_seg1 {
  position:absolute;
  left:119px;
  top:-484px;
  width:8px;
  height:488px;
}
#u2070_seg2 {
  position:absolute;
  left:-663px;
  top:-484px;
  width:790px;
  height:8px;
}
#u2070_seg3 {
  position:absolute;
  left:-663px;
  top:-484px;
  width:8px;
  height:58px;
}
#u2070_seg4 {
  position:absolute;
  left:-679px;
  top:-452px;
  width:40px;
  height:40px;
}
#u2071 {
  position:absolute;
  left:-44px;
  top:-488px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
