body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1529px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u894 {
  position:absolute;
  left:133px;
  top:493px;
  width:100px;
  height:60px;
}
#u895 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u896 {
  position:absolute;
  left:311px;
  top:281px;
  width:100px;
  height:60px;
}
#u897 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u898 {
  position:absolute;
  left:233px;
  top:523px;
  width:0px;
  height:0px;
}
#u898_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:43px;
  height:8px;
}
#u898_seg1 {
  position:absolute;
  left:35px;
  top:-216px;
  width:8px;
  height:220px;
}
#u898_seg2 {
  position:absolute;
  left:35px;
  top:-216px;
  width:43px;
  height:8px;
}
#u898_seg3 {
  position:absolute;
  left:63px;
  top:-222px;
  width:20px;
  height:20px;
}
#u899 {
  position:absolute;
  left:-11px;
  top:-114px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:1239px;
  top:493px;
  width:100px;
  height:60px;
}
#u901 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u902 {
  position:absolute;
  left:311px;
  top:386px;
  width:100px;
  height:60px;
}
#u903 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u904 {
  position:absolute;
  left:311px;
  top:493px;
  width:100px;
  height:60px;
}
#u905 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u906 {
  position:absolute;
  left:311px;
  top:602px;
  width:100px;
  height:60px;
}
#u907 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u908 {
  position:absolute;
  left:311px;
  top:716px;
  width:100px;
  height:60px;
}
#u909 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u910 {
  position:absolute;
  left:233px;
  top:523px;
  width:0px;
  height:0px;
}
#u910_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:43px;
  height:8px;
}
#u910_seg1 {
  position:absolute;
  left:35px;
  top:-111px;
  width:8px;
  height:115px;
}
#u910_seg2 {
  position:absolute;
  left:35px;
  top:-111px;
  width:43px;
  height:8px;
}
#u910_seg3 {
  position:absolute;
  left:63px;
  top:-117px;
  width:20px;
  height:20px;
}
#u911 {
  position:absolute;
  left:-11px;
  top:-62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912 {
  position:absolute;
  left:233px;
  top:523px;
  width:0px;
  height:0px;
}
#u912_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:82px;
  height:8px;
}
#u912_seg1 {
  position:absolute;
  left:63px;
  top:-10px;
  width:20px;
  height:20px;
}
#u913 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u914 {
  position:absolute;
  left:233px;
  top:523px;
  width:0px;
  height:0px;
}
#u914_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u914_seg1 {
  position:absolute;
  left:36px;
  top:-4px;
  width:8px;
  height:117px;
}
#u914_seg2 {
  position:absolute;
  left:36px;
  top:105px;
  width:42px;
  height:8px;
}
#u914_seg3 {
  position:absolute;
  left:63px;
  top:99px;
  width:20px;
  height:20px;
}
#u915 {
  position:absolute;
  left:-10px;
  top:46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916 {
  position:absolute;
  left:233px;
  top:523px;
  width:0px;
  height:0px;
}
#u916_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:44px;
  height:8px;
}
#u916_seg1 {
  position:absolute;
  left:36px;
  top:-4px;
  width:8px;
  height:231px;
}
#u916_seg2 {
  position:absolute;
  left:36px;
  top:219px;
  width:42px;
  height:8px;
}
#u916_seg3 {
  position:absolute;
  left:63px;
  top:213px;
  width:20px;
  height:20px;
}
#u917 {
  position:absolute;
  left:-10px;
  top:102px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u918 {
  position:absolute;
  left:650px;
  top:281px;
  width:100px;
  height:60px;
}
#u919 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:650px;
  top:386px;
  width:100px;
  height:60px;
}
#u921 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u922 {
  position:absolute;
  left:650px;
  top:493px;
  width:100px;
  height:60px;
}
#u923 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:650px;
  top:602px;
  width:100px;
  height:60px;
}
#u925 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u926 {
  position:absolute;
  left:650px;
  top:836px;
  width:100px;
  height:60px;
}
#u927 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u928 {
  position:absolute;
  left:483px;
  top:281px;
  width:100px;
  height:60px;
}
#u929 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u930 {
  position:absolute;
  left:483px;
  top:493px;
  width:100px;
  height:60px;
}
#u931 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u932 {
  position:absolute;
  left:483px;
  top:602px;
  width:100px;
  height:60px;
}
#u933 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u934 {
  position:absolute;
  left:483px;
  top:716px;
  width:100px;
  height:60px;
}
#u935 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936 {
  position:absolute;
  left:650px;
  top:716px;
  width:100px;
  height:60px;
}
#u937 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u938 {
  position:absolute;
  left:483px;
  top:836px;
  width:100px;
  height:60px;
}
#u939 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u940 {
  position:absolute;
  left:411px;
  top:746px;
  width:0px;
  height:0px;
}
#u940_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u940_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u941 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942 {
  position:absolute;
  left:583px;
  top:746px;
  width:0px;
  height:0px;
}
#u942_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u942_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u943 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u944 {
  position:absolute;
  left:533px;
  top:776px;
  width:0px;
  height:0px;
}
#u944_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u944_seg1 {
  position:absolute;
  left:-10px;
  top:45px;
  width:20px;
  height:20px;
}
#u945 {
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  word-wrap:break-word;
}
#u946 {
  position:absolute;
  left:583px;
  top:866px;
  width:0px;
  height:0px;
}
#u946_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u946_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u947 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u948 {
  position:absolute;
  left:583px;
  top:632px;
  width:0px;
  height:0px;
}
#u948_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u948_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u949 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u950 {
  position:absolute;
  left:411px;
  top:632px;
  width:0px;
  height:0px;
}
#u950_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u950_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u951 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952 {
  position:absolute;
  left:411px;
  top:523px;
  width:0px;
  height:0px;
}
#u952_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u952_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u953 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954 {
  position:absolute;
  left:583px;
  top:523px;
  width:0px;
  height:0px;
}
#u954_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u954_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u955 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u956 {
  position:absolute;
  left:483px;
  top:386px;
  width:100px;
  height:60px;
}
#u957 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u958 {
  position:absolute;
  left:411px;
  top:311px;
  width:0px;
  height:0px;
}
#u958_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u958_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u959 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960 {
  position:absolute;
  left:411px;
  top:416px;
  width:0px;
  height:0px;
}
#u960_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u960_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u961 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962 {
  position:absolute;
  left:583px;
  top:311px;
  width:0px;
  height:0px;
}
#u962_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u962_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u963 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u964 {
  position:absolute;
  left:583px;
  top:416px;
  width:0px;
  height:0px;
}
#u964_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:71px;
  height:8px;
}
#u964_seg1 {
  position:absolute;
  left:52px;
  top:-10px;
  width:20px;
  height:20px;
}
#u965 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u966 {
  position:absolute;
  left:650px;
  top:957px;
  width:100px;
  height:60px;
}
#u967 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u968 {
  position:absolute;
  left:533px;
  top:662px;
  width:0px;
  height:0px;
}
#u968_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u968_seg1 {
  position:absolute;
  left:-93px;
  top:34px;
  width:97px;
  height:8px;
}
#u968_seg2 {
  position:absolute;
  left:-93px;
  top:34px;
  width:8px;
  height:295px;
}
#u968_seg3 {
  position:absolute;
  left:-93px;
  top:321px;
  width:210px;
  height:8px;
}
#u968_seg4 {
  position:absolute;
  left:102px;
  top:315px;
  width:20px;
  height:20px;
}
#u969 {
  position:absolute;
  left:-139px;
  top:213px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970 {
  position:absolute;
  left:533px;
  top:553px;
  width:0px;
  height:0px;
}
#u970_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:41px;
}
#u970_seg1 {
  position:absolute;
  left:-93px;
  top:33px;
  width:97px;
  height:8px;
}
#u970_seg2 {
  position:absolute;
  left:-93px;
  top:33px;
  width:8px;
  height:405px;
}
#u970_seg3 {
  position:absolute;
  left:-93px;
  top:430px;
  width:210px;
  height:8px;
}
#u970_seg4 {
  position:absolute;
  left:102px;
  top:424px;
  width:20px;
  height:20px;
}
#u971 {
  position:absolute;
  left:-139px;
  top:268px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972 {
  position:absolute;
  left:533px;
  top:446px;
  width:0px;
  height:0px;
}
#u972_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u972_seg1 {
  position:absolute;
  left:-93px;
  top:30px;
  width:97px;
  height:8px;
}
#u972_seg2 {
  position:absolute;
  left:-93px;
  top:30px;
  width:8px;
  height:515px;
}
#u972_seg3 {
  position:absolute;
  left:-93px;
  top:537px;
  width:210px;
  height:8px;
}
#u972_seg4 {
  position:absolute;
  left:102px;
  top:531px;
  width:20px;
  height:20px;
}
#u973 {
  position:absolute;
  left:-139px;
  top:321px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974 {
  position:absolute;
  left:533px;
  top:341px;
  width:0px;
  height:0px;
}
#u974_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:33px;
}
#u974_seg1 {
  position:absolute;
  left:-93px;
  top:25px;
  width:97px;
  height:8px;
}
#u974_seg2 {
  position:absolute;
  left:-93px;
  top:25px;
  width:8px;
  height:625px;
}
#u974_seg3 {
  position:absolute;
  left:-93px;
  top:642px;
  width:210px;
  height:8px;
}
#u974_seg4 {
  position:absolute;
  left:102px;
  top:636px;
  width:20px;
  height:20px;
}
#u975 {
  position:absolute;
  left:-139px;
  top:374px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u976 {
  position:absolute;
  left:834px;
  top:281px;
  width:100px;
  height:60px;
}
#u977 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u978 {
  position:absolute;
  left:834px;
  top:386px;
  width:100px;
  height:60px;
}
#u979 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u980 {
  position:absolute;
  left:834px;
  top:493px;
  width:100px;
  height:60px;
}
#u981 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u982 {
  position:absolute;
  left:834px;
  top:602px;
  width:100px;
  height:60px;
}
#u983 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u984 {
  position:absolute;
  left:834px;
  top:716px;
  width:100px;
  height:60px;
}
#u985 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u986 {
  position:absolute;
  left:750px;
  top:311px;
  width:0px;
  height:0px;
}
#u986_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u986_seg1 {
  position:absolute;
  left:69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u987 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988 {
  position:absolute;
  left:750px;
  top:416px;
  width:0px;
  height:0px;
}
#u988_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u988_seg1 {
  position:absolute;
  left:69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u989 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990 {
  position:absolute;
  left:750px;
  top:523px;
  width:0px;
  height:0px;
}
#u990_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u990_seg1 {
  position:absolute;
  left:69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u991 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u992 {
  position:absolute;
  left:750px;
  top:632px;
  width:0px;
  height:0px;
}
#u992_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u992_seg1 {
  position:absolute;
  left:69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u993 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u994 {
  position:absolute;
  left:750px;
  top:746px;
  width:0px;
  height:0px;
}
#u994_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u994_seg1 {
  position:absolute;
  left:69px;
  top:-10px;
  width:20px;
  height:20px;
}
#u995 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u996 {
  position:absolute;
  left:750px;
  top:866px;
  width:0px;
  height:0px;
}
#u996_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u996_seg1 {
  position:absolute;
  left:32px;
  top:-124px;
  width:8px;
  height:128px;
}
#u996_seg2 {
  position:absolute;
  left:32px;
  top:-124px;
  width:52px;
  height:8px;
}
#u996_seg3 {
  position:absolute;
  left:69px;
  top:-130px;
  width:20px;
  height:20px;
}
#u997 {
  position:absolute;
  left:-14px;
  top:-74px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u998 {
  position:absolute;
  left:1008px;
  top:493px;
  width:100px;
  height:60px;
}
#u999 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1000 {
  position:absolute;
  left:1108px;
  top:523px;
  width:0px;
  height:0px;
}
#u1000_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:135px;
  height:8px;
}
#u1000_seg1 {
  position:absolute;
  left:116px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1001 {
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1002 {
  position:absolute;
  left:1058px;
  top:553px;
  width:0px;
  height:0px;
}
#u1002_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:287px;
}
#u1002_seg1 {
  position:absolute;
  left:-10px;
  top:268px;
  width:20px;
  height:20px;
}
#u1003 {
  position:absolute;
  left:-50px;
  top:134px;
  width:100px;
  word-wrap:break-word;
}
#u1004 {
  position:absolute;
  left:934px;
  top:311px;
  width:0px;
  height:0px;
}
#u1004_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u1004_seg1 {
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:220px;
}
#u1004_seg2 {
  position:absolute;
  left:52px;
  top:208px;
  width:22px;
  height:8px;
}
#u1004_seg3 {
  position:absolute;
  left:59px;
  top:202px;
  width:20px;
  height:20px;
}
#u1005 {
  position:absolute;
  left:6px;
  top:79px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1006 {
  position:absolute;
  left:934px;
  top:416px;
  width:0px;
  height:0px;
}
#u1006_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u1006_seg1 {
  position:absolute;
  left:52px;
  top:-4px;
  width:8px;
  height:115px;
}
#u1006_seg2 {
  position:absolute;
  left:52px;
  top:103px;
  width:22px;
  height:8px;
}
#u1006_seg3 {
  position:absolute;
  left:59px;
  top:97px;
  width:20px;
  height:20px;
}
#u1007 {
  position:absolute;
  left:6px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1008 {
  position:absolute;
  left:934px;
  top:523px;
  width:0px;
  height:0px;
}
#u1008_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u1008_seg1 {
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1009 {
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1010 {
  position:absolute;
  left:934px;
  top:632px;
  width:0px;
  height:0px;
}
#u1010_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u1010_seg1 {
  position:absolute;
  left:52px;
  top:-113px;
  width:8px;
  height:117px;
}
#u1010_seg2 {
  position:absolute;
  left:52px;
  top:-113px;
  width:22px;
  height:8px;
}
#u1010_seg3 {
  position:absolute;
  left:59px;
  top:-119px;
  width:20px;
  height:20px;
}
#u1011 {
  position:absolute;
  left:6px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1012 {
  position:absolute;
  left:934px;
  top:746px;
  width:0px;
  height:0px;
}
#u1012_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:60px;
  height:8px;
}
#u1012_seg1 {
  position:absolute;
  left:52px;
  top:-227px;
  width:8px;
  height:231px;
}
#u1012_seg2 {
  position:absolute;
  left:52px;
  top:-227px;
  width:22px;
  height:8px;
}
#u1012_seg3 {
  position:absolute;
  left:59px;
  top:-233px;
  width:20px;
  height:20px;
}
#u1013 {
  position:absolute;
  left:6px;
  top:-100px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1014 {
  position:absolute;
  left:1429px;
  top:957px;
  width:100px;
  height:60px;
}
#u1015 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1016 {
  position:absolute;
  left:1429px;
  top:493px;
  width:100px;
  height:60px;
}
#u1017 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1018 {
  position:absolute;
  left:1339px;
  top:523px;
  width:0px;
  height:0px;
}
#u1018_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u1018_seg1 {
  position:absolute;
  left:75px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1019 {
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1020 {
  position:absolute;
  left:1479px;
  top:553px;
  width:0px;
  height:0px;
}
#u1020_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:408px;
}
#u1020_seg1 {
  position:absolute;
  left:-10px;
  top:389px;
  width:20px;
  height:20px;
}
#u1021 {
  position:absolute;
  left:-50px;
  top:194px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022 {
  position:absolute;
  left:750px;
  top:987px;
  width:0px;
  height:0px;
}
#u1022_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:683px;
  height:8px;
}
#u1022_seg1 {
  position:absolute;
  left:664px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1023 {
  position:absolute;
  left:290px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024 {
  position:absolute;
  left:533px;
  top:896px;
  width:0px;
  height:0px;
}
#u1024_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:95px;
}
#u1024_seg1 {
  position:absolute;
  left:-4px;
  top:87px;
  width:121px;
  height:8px;
}
#u1024_seg2 {
  position:absolute;
  left:102px;
  top:81px;
  width:20px;
  height:20px;
}
#u1025 {
  position:absolute;
  left:-37px;
  top:83px;
  width:100px;
  word-wrap:break-word;
}
#u1026_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1026 {
  position:absolute;
  left:1008px;
  top:836px;
  width:100px;
  height:60px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1028 {
  position:absolute;
  left:1239px;
  top:836px;
  width:100px;
  height:60px;
}
#u1029 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1030 {
  position:absolute;
  left:1108px;
  top:866px;
  width:0px;
  height:0px;
}
#u1030_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:135px;
  height:8px;
}
#u1030_seg1 {
  position:absolute;
  left:116px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1031 {
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032 {
  position:absolute;
  left:1339px;
  top:866px;
  width:0px;
  height:0px;
}
#u1032_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:144px;
  height:8px;
}
#u1032_seg1 {
  position:absolute;
  left:136px;
  top:-4px;
  width:8px;
  height:95px;
}
#u1032_seg2 {
  position:absolute;
  left:130px;
  top:76px;
  width:20px;
  height:20px;
}
#u1033 {
  position:absolute;
  left:66px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
