body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1094px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u3466 {
  position:absolute;
  left:400px;
  top:10px;
  width:422px;
  height:829px;
}
#u3467 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3468 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:667px;
}
#u3469 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3470 {
  position:absolute;
  left:432px;
  top:102px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3471 {
  position:absolute;
  left:724px;
  top:102px;
  width:62px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3472 {
  position:absolute;
  left:493px;
  top:584px;
  width:110px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3473 {
  position:absolute;
  left:613px;
  top:584px;
  width:110px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3474 {
  position:absolute;
  left:493px;
  top:638px;
  width:230px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:89px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3475 {
  position:absolute;
  left:132px;
  top:273px;
  width:250px;
  height:89px;
  text-align:left;
}
#u3476 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:157px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3477 {
  position:absolute;
  left:844px;
  top:568px;
  width:250px;
  height:157px;
  text-align:left;
}
#u3478 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3479 {
  position:absolute;
  left:382px;
  top:318px;
  width:0px;
  height:0px;
}
#u3479_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u3479_seg1 {
  position:absolute;
  left:115px;
  top:-2px;
  width:8px;
  height:6px;
}
#u3479_seg2 {
  position:absolute;
  left:109px;
  top:-9px;
  width:20px;
  height:21px;
}
#u3480 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3481 {
  position:absolute;
  left:844px;
  top:647px;
  width:0px;
  height:0px;
}
#u3481_seg0 {
  position:absolute;
  left:-152px;
  top:-4px;
  width:152px;
  height:8px;
}
#u3481_seg1 {
  position:absolute;
  left:-152px;
  top:-3px;
  width:8px;
  height:7px;
}
#u3481_seg2 {
  position:absolute;
  left:-158px;
  top:-10px;
  width:20px;
  height:21px;
}
#u3482 {
  position:absolute;
  left:-126px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
