body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1244px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u806_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u806 {
  position:absolute;
  left:57px;
  top:261px;
  width:100px;
  height:60px;
}
#u807 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u808_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u808 {
  position:absolute;
  left:291px;
  top:135px;
  width:100px;
  height:60px;
}
#u809 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u810_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u810 {
  position:absolute;
  left:285px;
  top:369px;
  width:100px;
  height:60px;
}
#u811 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u812 {
  position:absolute;
  left:490px;
  top:135px;
  width:100px;
  height:60px;
}
#u813 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u814_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u814 {
  position:absolute;
  left:921px;
  top:135px;
  width:100px;
  height:60px;
}
#u815 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u816_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u816 {
  position:absolute;
  left:921px;
  top:240px;
  width:100px;
  height:60px;
}
#u817 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u818_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u818 {
  position:absolute;
  left:921px;
  top:369px;
  width:100px;
  height:60px;
}
#u819 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u820_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u820 {
  position:absolute;
  left:921px;
  top:474px;
  width:100px;
  height:60px;
}
#u821 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u822 {
  position:absolute;
  left:490px;
  top:369px;
  width:100px;
  height:60px;
}
#u823 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u824 {
  position:absolute;
  left:157px;
  top:291px;
  width:0px;
  height:0px;
}
#u824_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u824_seg1 {
  position:absolute;
  left:109px;
  top:-4px;
  width:8px;
  height:116px;
}
#u824_seg2 {
  position:absolute;
  left:109px;
  top:104px;
  width:19px;
  height:8px;
}
#u824_seg3 {
  position:absolute;
  left:113px;
  top:98px;
  width:20px;
  height:20px;
}
#u825 {
  position:absolute;
  left:63px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u826 {
  position:absolute;
  left:385px;
  top:399px;
  width:0px;
  height:0px;
}
#u826_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u826_seg1 {
  position:absolute;
  left:90px;
  top:-10px;
  width:20px;
  height:20px;
}
#u827 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u828 {
  position:absolute;
  left:590px;
  top:399px;
  width:0px;
  height:0px;
}
#u828_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:335px;
  height:8px;
}
#u828_seg1 {
  position:absolute;
  left:316px;
  top:-10px;
  width:20px;
  height:20px;
}
#u829 {
  position:absolute;
  left:116px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u830 {
  position:absolute;
  left:490px;
  top:474px;
  width:100px;
  height:60px;
}
#u831 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u832 {
  position:absolute;
  left:490px;
  top:240px;
  width:100px;
  height:60px;
}
#u833 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u834 {
  position:absolute;
  left:540px;
  top:429px;
  width:0px;
  height:0px;
}
#u834_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u834_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u835 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u836 {
  position:absolute;
  left:590px;
  top:504px;
  width:0px;
  height:0px;
}
#u836_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:121px;
  height:8px;
}
#u836_seg1 {
  position:absolute;
  left:102px;
  top:-10px;
  width:20px;
  height:20px;
}
#u837 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u838 {
  position:absolute;
  left:707px;
  top:474px;
  width:100px;
  height:60px;
}
#u839 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u840 {
  position:absolute;
  left:807px;
  top:504px;
  width:0px;
  height:0px;
}
#u840_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u840_seg1 {
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u841 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u842 {
  position:absolute;
  left:540px;
  top:534px;
  width:0px;
  height:0px;
}
#u842_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u842_seg1 {
  position:absolute;
  left:-4px;
  top:58px;
  width:362px;
  height:8px;
}
#u842_seg2 {
  position:absolute;
  left:350px;
  top:-34px;
  width:8px;
  height:100px;
}
#u842_seg3 {
  position:absolute;
  left:350px;
  top:-34px;
  width:31px;
  height:8px;
}
#u842_seg4 {
  position:absolute;
  left:366px;
  top:-40px;
  width:20px;
  height:20px;
}
#u843 {
  position:absolute;
  left:156px;
  top:54px;
  width:100px;
  word-wrap:break-word;
}
#u844_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u844 {
  position:absolute;
  left:707px;
  top:240px;
  width:100px;
  height:60px;
}
#u845 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u846 {
  position:absolute;
  left:590px;
  top:270px;
  width:0px;
  height:0px;
}
#u846_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:121px;
  height:8px;
}
#u846_seg1 {
  position:absolute;
  left:102px;
  top:-10px;
  width:20px;
  height:20px;
}
#u847 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u848 {
  position:absolute;
  left:807px;
  top:270px;
  width:0px;
  height:0px;
}
#u848_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u848_seg1 {
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u849 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850 {
  position:absolute;
  left:590px;
  top:165px;
  width:0px;
  height:0px;
}
#u850_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:335px;
  height:8px;
}
#u850_seg1 {
  position:absolute;
  left:316px;
  top:-10px;
  width:20px;
  height:20px;
}
#u851 {
  position:absolute;
  left:116px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u852 {
  position:absolute;
  left:391px;
  top:165px;
  width:0px;
  height:0px;
}
#u852_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:103px;
  height:8px;
}
#u852_seg1 {
  position:absolute;
  left:84px;
  top:-10px;
  width:20px;
  height:20px;
}
#u853 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u854 {
  position:absolute;
  left:540px;
  top:195px;
  width:0px;
  height:0px;
}
#u854_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u854_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u855 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u856 {
  position:absolute;
  left:157px;
  top:291px;
  width:0px;
  height:0px;
}
#u856_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u856_seg1 {
  position:absolute;
  left:108px;
  top:-130px;
  width:8px;
  height:134px;
}
#u856_seg2 {
  position:absolute;
  left:108px;
  top:-130px;
  width:26px;
  height:8px;
}
#u856_seg3 {
  position:absolute;
  left:119px;
  top:-136px;
  width:20px;
  height:20px;
}
#u857 {
  position:absolute;
  left:62px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858 {
  position:absolute;
  left:540px;
  top:300px;
  width:0px;
  height:0px;
}
#u858_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u858_seg1 {
  position:absolute;
  left:-4px;
  top:41px;
  width:362px;
  height:8px;
}
#u858_seg2 {
  position:absolute;
  left:350px;
  top:-34px;
  width:8px;
  height:83px;
}
#u858_seg3 {
  position:absolute;
  left:350px;
  top:-34px;
  width:31px;
  height:8px;
}
#u858_seg4 {
  position:absolute;
  left:366px;
  top:-40px;
  width:20px;
  height:20px;
}
#u859 {
  position:absolute;
  left:156px;
  top:37px;
  width:100px;
  word-wrap:break-word;
}
#u860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u860 {
  position:absolute;
  left:1144px;
  top:261px;
  width:100px;
  height:60px;
}
#u861 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u862 {
  position:absolute;
  left:1021px;
  top:165px;
  width:0px;
  height:0px;
}
#u862_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u862_seg1 {
  position:absolute;
  left:105px;
  top:-4px;
  width:8px;
  height:134px;
}
#u862_seg2 {
  position:absolute;
  left:105px;
  top:122px;
  width:18px;
  height:8px;
}
#u862_seg3 {
  position:absolute;
  left:108px;
  top:116px;
  width:20px;
  height:20px;
}
#u863 {
  position:absolute;
  left:59px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864 {
  position:absolute;
  left:1021px;
  top:270px;
  width:0px;
  height:0px;
}
#u864_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u864_seg1 {
  position:absolute;
  left:105px;
  top:-4px;
  width:8px;
  height:29px;
}
#u864_seg2 {
  position:absolute;
  left:105px;
  top:17px;
  width:18px;
  height:8px;
}
#u864_seg3 {
  position:absolute;
  left:108px;
  top:11px;
  width:20px;
  height:20px;
}
#u865 {
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866 {
  position:absolute;
  left:1021px;
  top:399px;
  width:0px;
  height:0px;
}
#u866_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u866_seg1 {
  position:absolute;
  left:105px;
  top:-112px;
  width:8px;
  height:116px;
}
#u866_seg2 {
  position:absolute;
  left:105px;
  top:-112px;
  width:18px;
  height:8px;
}
#u866_seg3 {
  position:absolute;
  left:108px;
  top:-118px;
  width:20px;
  height:20px;
}
#u867 {
  position:absolute;
  left:59px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868 {
  position:absolute;
  left:1021px;
  top:504px;
  width:0px;
  height:0px;
}
#u868_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u868_seg1 {
  position:absolute;
  left:105px;
  top:-217px;
  width:8px;
  height:221px;
}
#u868_seg2 {
  position:absolute;
  left:105px;
  top:-217px;
  width:18px;
  height:8px;
}
#u868_seg3 {
  position:absolute;
  left:108px;
  top:-223px;
  width:20px;
  height:20px;
}
#u869 {
  position:absolute;
  left:59px;
  top:-67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
