body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1244px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u871 {
  position:absolute;
  left:57px;
  top:261px;
  width:100px;
  height:60px;
}
#u872 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u873 {
  position:absolute;
  left:291px;
  top:135px;
  width:100px;
  height:60px;
}
#u874 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u875 {
  position:absolute;
  left:285px;
  top:369px;
  width:100px;
  height:60px;
}
#u876 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u877 {
  position:absolute;
  left:490px;
  top:135px;
  width:100px;
  height:60px;
}
#u878 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u879_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u879 {
  position:absolute;
  left:921px;
  top:135px;
  width:100px;
  height:60px;
}
#u880 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u881 {
  position:absolute;
  left:921px;
  top:240px;
  width:100px;
  height:60px;
}
#u882 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u883_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u883 {
  position:absolute;
  left:921px;
  top:369px;
  width:100px;
  height:60px;
}
#u884 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u885_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u885 {
  position:absolute;
  left:921px;
  top:474px;
  width:100px;
  height:60px;
}
#u886 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u887 {
  position:absolute;
  left:490px;
  top:369px;
  width:100px;
  height:60px;
}
#u888 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u889 {
  position:absolute;
  left:157px;
  top:291px;
  width:0px;
  height:0px;
}
#u889_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u889_seg1 {
  position:absolute;
  left:109px;
  top:-4px;
  width:8px;
  height:116px;
}
#u889_seg2 {
  position:absolute;
  left:109px;
  top:104px;
  width:19px;
  height:8px;
}
#u889_seg3 {
  position:absolute;
  left:113px;
  top:98px;
  width:20px;
  height:20px;
}
#u890 {
  position:absolute;
  left:63px;
  top:-3px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u891 {
  position:absolute;
  left:385px;
  top:399px;
  width:0px;
  height:0px;
}
#u891_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u891_seg1 {
  position:absolute;
  left:90px;
  top:-10px;
  width:20px;
  height:20px;
}
#u892 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u893 {
  position:absolute;
  left:590px;
  top:399px;
  width:0px;
  height:0px;
}
#u893_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:335px;
  height:8px;
}
#u893_seg1 {
  position:absolute;
  left:316px;
  top:-10px;
  width:20px;
  height:20px;
}
#u894 {
  position:absolute;
  left:116px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u895 {
  position:absolute;
  left:490px;
  top:474px;
  width:100px;
  height:60px;
}
#u896 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u897 {
  position:absolute;
  left:490px;
  top:240px;
  width:100px;
  height:60px;
}
#u898 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u899 {
  position:absolute;
  left:540px;
  top:429px;
  width:0px;
  height:0px;
}
#u899_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u899_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u900 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u901 {
  position:absolute;
  left:590px;
  top:504px;
  width:0px;
  height:0px;
}
#u901_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:121px;
  height:8px;
}
#u901_seg1 {
  position:absolute;
  left:102px;
  top:-10px;
  width:20px;
  height:20px;
}
#u902 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u903_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u903 {
  position:absolute;
  left:707px;
  top:474px;
  width:100px;
  height:60px;
}
#u904 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u905 {
  position:absolute;
  left:807px;
  top:504px;
  width:0px;
  height:0px;
}
#u905_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u905_seg1 {
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u906 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u907 {
  position:absolute;
  left:540px;
  top:534px;
  width:0px;
  height:0px;
}
#u907_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:66px;
}
#u907_seg1 {
  position:absolute;
  left:-4px;
  top:58px;
  width:362px;
  height:8px;
}
#u907_seg2 {
  position:absolute;
  left:350px;
  top:-34px;
  width:8px;
  height:100px;
}
#u907_seg3 {
  position:absolute;
  left:350px;
  top:-34px;
  width:31px;
  height:8px;
}
#u907_seg4 {
  position:absolute;
  left:366px;
  top:-40px;
  width:20px;
  height:20px;
}
#u908 {
  position:absolute;
  left:156px;
  top:54px;
  width:100px;
  word-wrap:break-word;
}
#u909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u909 {
  position:absolute;
  left:707px;
  top:240px;
  width:100px;
  height:60px;
}
#u910 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u911 {
  position:absolute;
  left:590px;
  top:270px;
  width:0px;
  height:0px;
}
#u911_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:121px;
  height:8px;
}
#u911_seg1 {
  position:absolute;
  left:102px;
  top:-10px;
  width:20px;
  height:20px;
}
#u912 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u913 {
  position:absolute;
  left:807px;
  top:270px;
  width:0px;
  height:0px;
}
#u913_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u913_seg1 {
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u914 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915 {
  position:absolute;
  left:590px;
  top:165px;
  width:0px;
  height:0px;
}
#u915_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:335px;
  height:8px;
}
#u915_seg1 {
  position:absolute;
  left:316px;
  top:-10px;
  width:20px;
  height:20px;
}
#u916 {
  position:absolute;
  left:116px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u917 {
  position:absolute;
  left:391px;
  top:165px;
  width:0px;
  height:0px;
}
#u917_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:103px;
  height:8px;
}
#u917_seg1 {
  position:absolute;
  left:84px;
  top:-10px;
  width:20px;
  height:20px;
}
#u918 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919 {
  position:absolute;
  left:540px;
  top:195px;
  width:0px;
  height:0px;
}
#u919_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u919_seg1 {
  position:absolute;
  left:-10px;
  top:30px;
  width:20px;
  height:20px;
}
#u920 {
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  word-wrap:break-word;
}
#u921 {
  position:absolute;
  left:157px;
  top:291px;
  width:0px;
  height:0px;
}
#u921_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u921_seg1 {
  position:absolute;
  left:108px;
  top:-130px;
  width:8px;
  height:134px;
}
#u921_seg2 {
  position:absolute;
  left:108px;
  top:-130px;
  width:26px;
  height:8px;
}
#u921_seg3 {
  position:absolute;
  left:119px;
  top:-136px;
  width:20px;
  height:20px;
}
#u922 {
  position:absolute;
  left:62px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u923 {
  position:absolute;
  left:540px;
  top:300px;
  width:0px;
  height:0px;
}
#u923_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:49px;
}
#u923_seg1 {
  position:absolute;
  left:-4px;
  top:41px;
  width:362px;
  height:8px;
}
#u923_seg2 {
  position:absolute;
  left:350px;
  top:-34px;
  width:8px;
  height:83px;
}
#u923_seg3 {
  position:absolute;
  left:350px;
  top:-34px;
  width:31px;
  height:8px;
}
#u923_seg4 {
  position:absolute;
  left:366px;
  top:-40px;
  width:20px;
  height:20px;
}
#u924 {
  position:absolute;
  left:156px;
  top:37px;
  width:100px;
  word-wrap:break-word;
}
#u925_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u925 {
  position:absolute;
  left:1144px;
  top:261px;
  width:100px;
  height:60px;
}
#u926 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u927 {
  position:absolute;
  left:1021px;
  top:165px;
  width:0px;
  height:0px;
}
#u927_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u927_seg1 {
  position:absolute;
  left:105px;
  top:-4px;
  width:8px;
  height:134px;
}
#u927_seg2 {
  position:absolute;
  left:105px;
  top:122px;
  width:18px;
  height:8px;
}
#u927_seg3 {
  position:absolute;
  left:108px;
  top:116px;
  width:20px;
  height:20px;
}
#u928 {
  position:absolute;
  left:59px;
  top:8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929 {
  position:absolute;
  left:1021px;
  top:270px;
  width:0px;
  height:0px;
}
#u929_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u929_seg1 {
  position:absolute;
  left:105px;
  top:-4px;
  width:8px;
  height:29px;
}
#u929_seg2 {
  position:absolute;
  left:105px;
  top:17px;
  width:18px;
  height:8px;
}
#u929_seg3 {
  position:absolute;
  left:108px;
  top:11px;
  width:20px;
  height:20px;
}
#u930 {
  position:absolute;
  left:22px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931 {
  position:absolute;
  left:1021px;
  top:399px;
  width:0px;
  height:0px;
}
#u931_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u931_seg1 {
  position:absolute;
  left:105px;
  top:-112px;
  width:8px;
  height:116px;
}
#u931_seg2 {
  position:absolute;
  left:105px;
  top:-112px;
  width:18px;
  height:8px;
}
#u931_seg3 {
  position:absolute;
  left:108px;
  top:-118px;
  width:20px;
  height:20px;
}
#u932 {
  position:absolute;
  left:59px;
  top:-14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933 {
  position:absolute;
  left:1021px;
  top:504px;
  width:0px;
  height:0px;
}
#u933_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u933_seg1 {
  position:absolute;
  left:105px;
  top:-217px;
  width:8px;
  height:221px;
}
#u933_seg2 {
  position:absolute;
  left:105px;
  top:-217px;
  width:18px;
  height:8px;
}
#u933_seg3 {
  position:absolute;
  left:108px;
  top:-223px;
  width:20px;
  height:20px;
}
#u934 {
  position:absolute;
  left:59px;
  top:-67px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
