body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2465px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1638 {
  position:absolute;
  left:89px;
  top:141px;
  width:100px;
  height:60px;
}
#u1639 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1640 {
  position:absolute;
  left:294px;
  top:141px;
  width:100px;
  height:60px;
}
#u1641 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1642 {
  position:absolute;
  left:513px;
  top:141px;
  width:100px;
  height:60px;
}
#u1643 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1644 {
  position:absolute;
  left:513px;
  top:465px;
  width:100px;
  height:60px;
}
#u1645 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1646_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1646 {
  position:absolute;
  left:703px;
  top:465px;
  width:100px;
  height:60px;
}
#u1647 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1648 {
  position:absolute;
  left:891px;
  top:465px;
  width:100px;
  height:60px;
}
#u1649 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1650_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1650 {
  position:absolute;
  left:1092px;
  top:465px;
  width:100px;
  height:60px;
}
#u1651 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1652 {
  position:absolute;
  left:613px;
  top:495px;
  width:0px;
  height:0px;
}
#u1652_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u1652_seg1 {
  position:absolute;
  left:75px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1653 {
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1654_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1654 {
  position:absolute;
  left:891px;
  top:653px;
  width:100px;
  height:60px;
}
#u1655 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1656 {
  position:absolute;
  left:941px;
  top:525px;
  width:0px;
  height:0px;
}
#u1656_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:132px;
}
#u1656_seg1 {
  position:absolute;
  left:-10px;
  top:113px;
  width:20px;
  height:20px;
}
#u1657 {
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  word-wrap:break-word;
}
#u1658 {
  position:absolute;
  left:891px;
  top:683px;
  width:0px;
  height:0px;
}
#u1658_seg0 {
  position:absolute;
  left:-332px;
  top:-4px;
  width:332px;
  height:8px;
}
#u1658_seg1 {
  position:absolute;
  left:-332px;
  top:-158px;
  width:8px;
  height:162px;
}
#u1658_seg2 {
  position:absolute;
  left:-338px;
  top:-163px;
  width:20px;
  height:20px;
}
#u1659 {
  position:absolute;
  left:-293px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1660 {
  position:absolute;
  left:803px;
  top:495px;
  width:0px;
  height:0px;
}
#u1660_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u1660_seg1 {
  position:absolute;
  left:73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1661 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1662 {
  position:absolute;
  left:189px;
  top:171px;
  width:0px;
  height:0px;
}
#u1662_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u1662_seg1 {
  position:absolute;
  left:90px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1663 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1664 {
  position:absolute;
  left:394px;
  top:171px;
  width:0px;
  height:0px;
}
#u1664_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:123px;
  height:8px;
}
#u1664_seg1 {
  position:absolute;
  left:104px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1665 {
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1666 {
  position:absolute;
  left:344px;
  top:201px;
  width:0px;
  height:0px;
}
#u1666_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:298px;
}
#u1666_seg1 {
  position:absolute;
  left:-4px;
  top:290px;
  width:173px;
  height:8px;
}
#u1666_seg2 {
  position:absolute;
  left:154px;
  top:284px;
  width:20px;
  height:20px;
}
#u1667 {
  position:absolute;
  left:-50px;
  top:224px;
  width:100px;
  word-wrap:break-word;
}
#u1668 {
  position:absolute;
  left:991px;
  top:495px;
  width:0px;
  height:0px;
}
#u1668_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:105px;
  height:8px;
}
#u1668_seg1 {
  position:absolute;
  left:86px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1669 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1670 {
  position:absolute;
  left:1302px;
  top:465px;
  width:100px;
  height:60px;
}
#u1671 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1672 {
  position:absolute;
  left:1192px;
  top:495px;
  width:0px;
  height:0px;
}
#u1672_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u1672_seg1 {
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1673 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1674 {
  position:absolute;
  left:1352px;
  top:525px;
  width:0px;
  height:0px;
}
#u1674_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u1674_seg1 {
  position:absolute;
  left:-214px;
  top:69px;
  width:218px;
  height:8px;
}
#u1674_seg2 {
  position:absolute;
  left:-214px;
  top:0px;
  width:8px;
  height:77px;
}
#u1674_seg3 {
  position:absolute;
  left:-220px;
  top:-5px;
  width:20px;
  height:20px;
}
#u1675 {
  position:absolute;
  left:-155px;
  top:65px;
  width:100px;
  word-wrap:break-word;
}
#u1676_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1676 {
  position:absolute;
  left:1533px;
  top:465px;
  width:100px;
  height:60px;
}
#u1677 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1678 {
  position:absolute;
  left:1402px;
  top:495px;
  width:0px;
  height:0px;
}
#u1678_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:135px;
  height:8px;
}
#u1678_seg1 {
  position:absolute;
  left:116px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1679 {
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1680_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1680 {
  position:absolute;
  left:2365px;
  top:301px;
  width:100px;
  height:60px;
}
#u1681 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1682 {
  position:absolute;
  left:1633px;
  top:495px;
  width:0px;
  height:0px;
}
#u1682_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:721px;
  height:8px;
}
#u1682_seg1 {
  position:absolute;
  left:713px;
  top:-168px;
  width:8px;
  height:172px;
}
#u1682_seg2 {
  position:absolute;
  left:713px;
  top:-168px;
  width:19px;
  height:8px;
}
#u1682_seg3 {
  position:absolute;
  left:717px;
  top:-174px;
  width:20px;
  height:20px;
}
#u1683 {
  position:absolute;
  left:398px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1684 {
  position:absolute;
  left:687px;
  top:141px;
  width:100px;
  height:60px;
}
#u1685 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1686_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1686 {
  position:absolute;
  left:897px;
  top:141px;
  width:100px;
  height:60px;
}
#u1687 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1688 {
  position:absolute;
  left:787px;
  top:171px;
  width:0px;
  height:0px;
}
#u1688_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u1688_seg1 {
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1689 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690 {
  position:absolute;
  left:947px;
  top:201px;
  width:0px;
  height:0px;
}
#u1690_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u1690_seg1 {
  position:absolute;
  left:-214px;
  top:69px;
  width:218px;
  height:8px;
}
#u1690_seg2 {
  position:absolute;
  left:-214px;
  top:0px;
  width:8px;
  height:77px;
}
#u1690_seg3 {
  position:absolute;
  left:-220px;
  top:-5px;
  width:20px;
  height:20px;
}
#u1691 {
  position:absolute;
  left:-155px;
  top:65px;
  width:100px;
  word-wrap:break-word;
}
#u1692 {
  position:absolute;
  left:613px;
  top:171px;
  width:0px;
  height:0px;
}
#u1692_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u1692_seg1 {
  position:absolute;
  left:59px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1693 {
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1694 {
  position:absolute;
  left:1092px;
  top:141px;
  width:100px;
  height:60px;
}
#u1695 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1696_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1696 {
  position:absolute;
  left:1302px;
  top:141px;
  width:100px;
  height:60px;
}
#u1697 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1698 {
  position:absolute;
  left:1533px;
  top:141px;
  width:100px;
  height:60px;
}
#u1699 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1700 {
  position:absolute;
  left:1192px;
  top:171px;
  width:0px;
  height:0px;
}
#u1700_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u1700_seg1 {
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1701 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1702_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1702 {
  position:absolute;
  left:1533px;
  top:301px;
  width:100px;
  height:60px;
}
#u1703 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1704 {
  position:absolute;
  left:1583px;
  top:201px;
  width:0px;
  height:0px;
}
#u1704_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:104px;
}
#u1704_seg1 {
  position:absolute;
  left:-10px;
  top:85px;
  width:20px;
  height:20px;
}
#u1705 {
  position:absolute;
  left:-50px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u1706 {
  position:absolute;
  left:1533px;
  top:331px;
  width:0px;
  height:0px;
}
#u1706_seg0 {
  position:absolute;
  left:-395px;
  top:-4px;
  width:395px;
  height:8px;
}
#u1706_seg1 {
  position:absolute;
  left:-395px;
  top:-130px;
  width:8px;
  height:134px;
}
#u1706_seg2 {
  position:absolute;
  left:-401px;
  top:-135px;
  width:20px;
  height:20px;
}
#u1707 {
  position:absolute;
  left:-310px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1708 {
  position:absolute;
  left:1402px;
  top:171px;
  width:0px;
  height:0px;
}
#u1708_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:135px;
  height:8px;
}
#u1708_seg1 {
  position:absolute;
  left:116px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1709 {
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1710 {
  position:absolute;
  left:997px;
  top:171px;
  width:0px;
  height:0px;
}
#u1710_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u1710_seg1 {
  position:absolute;
  left:80px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1711 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1712_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1712 {
  position:absolute;
  left:2168px;
  top:141px;
  width:100px;
  height:60px;
}
#u1713 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1714 {
  position:absolute;
  left:1633px;
  top:171px;
  width:0px;
  height:0px;
}
#u1714_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u1714_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1715 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1716 {
  position:absolute;
  left:2268px;
  top:171px;
  width:0px;
  height:0px;
}
#u1716_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u1716_seg1 {
  position:absolute;
  left:78px;
  top:-4px;
  width:8px;
  height:168px;
}
#u1716_seg2 {
  position:absolute;
  left:78px;
  top:156px;
  width:19px;
  height:8px;
}
#u1716_seg3 {
  position:absolute;
  left:82px;
  top:150px;
  width:20px;
  height:20px;
}
#u1717 {
  position:absolute;
  left:32px;
  top:38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1718 {
  position:absolute;
  left:1727px;
  top:141px;
  width:100px;
  height:60px;
}
#u1719 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1720 {
  position:absolute;
  left:1937px;
  top:141px;
  width:100px;
  height:60px;
}
#u1721 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1722 {
  position:absolute;
  left:1827px;
  top:171px;
  width:0px;
  height:0px;
}
#u1722_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u1722_seg1 {
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1723 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724 {
  position:absolute;
  left:1987px;
  top:201px;
  width:0px;
  height:0px;
}
#u1724_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:77px;
}
#u1724_seg1 {
  position:absolute;
  left:-214px;
  top:69px;
  width:218px;
  height:8px;
}
#u1724_seg2 {
  position:absolute;
  left:-214px;
  top:0px;
  width:8px;
  height:77px;
}
#u1724_seg3 {
  position:absolute;
  left:-220px;
  top:-5px;
  width:20px;
  height:20px;
}
#u1725 {
  position:absolute;
  left:-155px;
  top:65px;
  width:100px;
  word-wrap:break-word;
}
#u1726 {
  position:absolute;
  left:2037px;
  top:171px;
  width:0px;
  height:0px;
}
#u1726_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:135px;
  height:8px;
}
#u1726_seg1 {
  position:absolute;
  left:116px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1727 {
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
