body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u2808 {
  position:absolute;
  left:400px;
  top:10px;
  width:422px;
  height:829px;
}
#u2809 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2810 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:667px;
}
#u2811 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2812 {
  position:absolute;
  left:432px;
  top:102px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2813 {
  position:absolute;
  left:421px;
  top:155px;
  width:375px;
  height:113px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
