body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1099 {
  position:absolute;
  left:28px;
  top:232px;
  width:100px;
  height:60px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1101 {
  position:absolute;
  left:249px;
  top:117px;
  width:100px;
  height:60px;
}
#u1102 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1103 {
  position:absolute;
  left:249px;
  top:371px;
  width:100px;
  height:60px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1105 {
  position:absolute;
  left:413px;
  top:117px;
  width:100px;
  height:60px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1107 {
  position:absolute;
  left:750px;
  top:232px;
  width:100px;
  height:60px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1109 {
  position:absolute;
  left:1066px;
  top:371px;
  width:100px;
  height:60px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1111 {
  position:absolute;
  left:917px;
  top:371px;
  width:100px;
  height:60px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1113_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1113 {
  position:absolute;
  left:917px;
  top:117px;
  width:100px;
  height:60px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1115 {
  position:absolute;
  left:1285px;
  top:117px;
  width:100px;
  height:60px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1117 {
  position:absolute;
  left:1113px;
  top:117px;
  width:100px;
  height:60px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1119 {
  position:absolute;
  left:1213px;
  top:147px;
  width:0px;
  height:0px;
}
#u1119_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u1119_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1120 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1121 {
  position:absolute;
  left:1113px;
  top:226px;
  width:100px;
  height:60px;
}
#u1122 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1123_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1123 {
  position:absolute;
  left:1285px;
  top:226px;
  width:100px;
  height:60px;
}
#u1124 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1125 {
  position:absolute;
  left:1163px;
  top:177px;
  width:0px;
  height:0px;
}
#u1125_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u1125_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u1126 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u1127 {
  position:absolute;
  left:1213px;
  top:256px;
  width:0px;
  height:0px;
}
#u1127_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u1127_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1128 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1129_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1129 {
  position:absolute;
  left:1524px;
  top:117px;
  width:100px;
  height:60px;
}
#u1130 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1131 {
  position:absolute;
  left:1385px;
  top:147px;
  width:0px;
  height:0px;
}
#u1131_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:143px;
  height:8px;
}
#u1131_seg1 {
  position:absolute;
  left:124px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1132 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1133 {
  position:absolute;
  left:1385px;
  top:256px;
  width:0px;
  height:0px;
}
#u1133_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:193px;
  height:8px;
}
#u1133_seg1 {
  position:absolute;
  left:185px;
  top:-79px;
  width:8px;
  height:83px;
}
#u1133_seg2 {
  position:absolute;
  left:179px;
  top:-84px;
  width:20px;
  height:20px;
}
#u1134 {
  position:absolute;
  left:84px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135 {
  position:absolute;
  left:1163px;
  top:286px;
  width:0px;
  height:0px;
}
#u1135_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u1135_seg1 {
  position:absolute;
  left:-4px;
  top:60px;
  width:419px;
  height:8px;
}
#u1135_seg2 {
  position:absolute;
  left:407px;
  top:-109px;
  width:8px;
  height:177px;
}
#u1135_seg3 {
  position:absolute;
  left:401px;
  top:-115px;
  width:20px;
  height:21px;
}
#u1136 {
  position:absolute;
  left:210px;
  top:56px;
  width:100px;
  word-wrap:break-word;
}
#u1137 {
  position:absolute;
  left:1017px;
  top:401px;
  width:0px;
  height:0px;
}
#u1137_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u1137_seg1 {
  position:absolute;
  left:34px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1138 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139 {
  position:absolute;
  left:1017px;
  top:147px;
  width:0px;
  height:0px;
}
#u1139_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u1139_seg1 {
  position:absolute;
  left:81px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1140 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1141 {
  position:absolute;
  left:513px;
  top:147px;
  width:0px;
  height:0px;
}
#u1141_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u1141_seg1 {
  position:absolute;
  left:38px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1142 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1143 {
  position:absolute;
  left:349px;
  top:147px;
  width:0px;
  height:0px;
}
#u1143_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u1143_seg1 {
  position:absolute;
  left:49px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1144 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145 {
  position:absolute;
  left:128px;
  top:262px;
  width:0px;
  height:0px;
}
#u1145_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u1145_seg1 {
  position:absolute;
  left:98px;
  top:-119px;
  width:8px;
  height:123px;
}
#u1145_seg2 {
  position:absolute;
  left:98px;
  top:-119px;
  width:23px;
  height:8px;
}
#u1145_seg3 {
  position:absolute;
  left:106px;
  top:-125px;
  width:20px;
  height:20px;
}
#u1146 {
  position:absolute;
  left:52px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1147 {
  position:absolute;
  left:128px;
  top:262px;
  width:0px;
  height:0px;
}
#u1147_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u1147_seg1 {
  position:absolute;
  left:98px;
  top:-4px;
  width:8px;
  height:147px;
}
#u1147_seg2 {
  position:absolute;
  left:98px;
  top:135px;
  width:23px;
  height:8px;
}
#u1147_seg3 {
  position:absolute;
  left:106px;
  top:129px;
  width:20px;
  height:20px;
}
#u1148 {
  position:absolute;
  left:52px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1149 {
  position:absolute;
  left:850px;
  top:262px;
  width:0px;
  height:0px;
}
#u1149_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u1149_seg1 {
  position:absolute;
  left:46px;
  top:-119px;
  width:8px;
  height:123px;
}
#u1149_seg2 {
  position:absolute;
  left:46px;
  top:-119px;
  width:21px;
  height:8px;
}
#u1149_seg3 {
  position:absolute;
  left:52px;
  top:-125px;
  width:20px;
  height:20px;
}
#u1150 {
  position:absolute;
  left:0px;
  top:-49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1151 {
  position:absolute;
  left:850px;
  top:262px;
  width:0px;
  height:0px;
}
#u1151_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u1151_seg1 {
  position:absolute;
  left:46px;
  top:-4px;
  width:8px;
  height:147px;
}
#u1151_seg2 {
  position:absolute;
  left:46px;
  top:135px;
  width:21px;
  height:8px;
}
#u1151_seg3 {
  position:absolute;
  left:52px;
  top:129px;
  width:20px;
  height:20px;
}
#u1152 {
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1153_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1153 {
  position:absolute;
  left:566px;
  top:117px;
  width:100px;
  height:60px;
}
#u1154 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1155 {
  position:absolute;
  left:666px;
  top:147px;
  width:0px;
  height:0px;
}
#u1155_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u1155_seg1 {
  position:absolute;
  left:39px;
  top:-4px;
  width:8px;
  height:123px;
}
#u1155_seg2 {
  position:absolute;
  left:39px;
  top:111px;
  width:45px;
  height:8px;
}
#u1155_seg3 {
  position:absolute;
  left:69px;
  top:105px;
  width:20px;
  height:20px;
}
#u1156 {
  position:absolute;
  left:-7px;
  top:49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1157 {
  position:absolute;
  left:413px;
  top:371px;
  width:100px;
  height:60px;
}
#u1158 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1159 {
  position:absolute;
  left:349px;
  top:401px;
  width:0px;
  height:0px;
}
#u1159_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u1159_seg1 {
  position:absolute;
  left:49px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1160 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1161_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1161 {
  position:absolute;
  left:566px;
  top:371px;
  width:100px;
  height:60px;
}
#u1162 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1163 {
  position:absolute;
  left:513px;
  top:401px;
  width:0px;
  height:0px;
}
#u1163_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u1163_seg1 {
  position:absolute;
  left:38px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1164 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1165 {
  position:absolute;
  left:666px;
  top:401px;
  width:0px;
  height:0px;
}
#u1165_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u1165_seg1 {
  position:absolute;
  left:39px;
  top:-143px;
  width:8px;
  height:147px;
}
#u1165_seg2 {
  position:absolute;
  left:39px;
  top:-143px;
  width:45px;
  height:8px;
}
#u1165_seg3 {
  position:absolute;
  left:69px;
  top:-149px;
  width:20px;
  height:20px;
}
#u1166 {
  position:absolute;
  left:-7px;
  top:-77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167 {
  position:absolute;
  left:463px;
  top:371px;
  width:0px;
  height:0px;
}
#u1167_seg0 {
  position:absolute;
  left:-4px;
  top:-113px;
  width:8px;
  height:113px;
}
#u1167_seg1 {
  position:absolute;
  left:-4px;
  top:-113px;
  width:291px;
  height:8px;
}
#u1167_seg2 {
  position:absolute;
  left:272px;
  top:-119px;
  width:20px;
  height:20px;
}
#u1168 {
  position:absolute;
  left:39px;
  top:-117px;
  width:100px;
  word-wrap:break-word;
}
#u1169 {
  position:absolute;
  left:1574px;
  top:117px;
  width:0px;
  height:0px;
}
#u1169_seg0 {
  position:absolute;
  left:-4px;
  top:-80px;
  width:8px;
  height:80px;
}
#u1169_seg1 {
  position:absolute;
  left:-1407px;
  top:-80px;
  width:1411px;
  height:8px;
}
#u1169_seg2 {
  position:absolute;
  left:-1407px;
  top:-80px;
  width:8px;
  height:216px;
}
#u1169_seg3 {
  position:absolute;
  left:-1413px;
  top:121px;
  width:20px;
  height:20px;
}
#u1170 {
  position:absolute;
  left:-820px;
  top:-84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
