body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1624px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1034 {
  position:absolute;
  left:28px;
  top:232px;
  width:100px;
  height:60px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1036 {
  position:absolute;
  left:249px;
  top:117px;
  width:100px;
  height:60px;
}
#u1037 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1038 {
  position:absolute;
  left:249px;
  top:371px;
  width:100px;
  height:60px;
}
#u1039 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1040_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1040 {
  position:absolute;
  left:413px;
  top:117px;
  width:100px;
  height:60px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1042 {
  position:absolute;
  left:750px;
  top:232px;
  width:100px;
  height:60px;
}
#u1043 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1044 {
  position:absolute;
  left:1066px;
  top:371px;
  width:100px;
  height:60px;
}
#u1045 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1046 {
  position:absolute;
  left:917px;
  top:371px;
  width:100px;
  height:60px;
}
#u1047 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1048 {
  position:absolute;
  left:917px;
  top:117px;
  width:100px;
  height:60px;
}
#u1049 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1050 {
  position:absolute;
  left:1285px;
  top:117px;
  width:100px;
  height:60px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1052 {
  position:absolute;
  left:1113px;
  top:117px;
  width:100px;
  height:60px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1054 {
  position:absolute;
  left:1213px;
  top:147px;
  width:0px;
  height:0px;
}
#u1054_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u1054_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1055 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1056 {
  position:absolute;
  left:1113px;
  top:226px;
  width:100px;
  height:60px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1058 {
  position:absolute;
  left:1285px;
  top:226px;
  width:100px;
  height:60px;
}
#u1059 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1060 {
  position:absolute;
  left:1163px;
  top:177px;
  width:0px;
  height:0px;
}
#u1060_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u1060_seg1 {
  position:absolute;
  left:-10px;
  top:34px;
  width:20px;
  height:20px;
}
#u1061 {
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  word-wrap:break-word;
}
#u1062 {
  position:absolute;
  left:1213px;
  top:256px;
  width:0px;
  height:0px;
}
#u1062_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u1062_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1063 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1064 {
  position:absolute;
  left:1524px;
  top:117px;
  width:100px;
  height:60px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1066 {
  position:absolute;
  left:1385px;
  top:147px;
  width:0px;
  height:0px;
}
#u1066_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:143px;
  height:8px;
}
#u1066_seg1 {
  position:absolute;
  left:124px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1067 {
  position:absolute;
  left:20px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1068 {
  position:absolute;
  left:1385px;
  top:256px;
  width:0px;
  height:0px;
}
#u1068_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:193px;
  height:8px;
}
#u1068_seg1 {
  position:absolute;
  left:185px;
  top:-79px;
  width:8px;
  height:83px;
}
#u1068_seg2 {
  position:absolute;
  left:179px;
  top:-84px;
  width:20px;
  height:20px;
}
#u1069 {
  position:absolute;
  left:84px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1070 {
  position:absolute;
  left:1163px;
  top:286px;
  width:0px;
  height:0px;
}
#u1070_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:68px;
}
#u1070_seg1 {
  position:absolute;
  left:-4px;
  top:60px;
  width:419px;
  height:8px;
}
#u1070_seg2 {
  position:absolute;
  left:407px;
  top:-109px;
  width:8px;
  height:177px;
}
#u1070_seg3 {
  position:absolute;
  left:401px;
  top:-115px;
  width:20px;
  height:21px;
}
#u1071 {
  position:absolute;
  left:210px;
  top:56px;
  width:100px;
  word-wrap:break-word;
}
#u1072 {
  position:absolute;
  left:1017px;
  top:401px;
  width:0px;
  height:0px;
}
#u1072_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u1072_seg1 {
  position:absolute;
  left:34px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1073 {
  position:absolute;
  left:-26px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074 {
  position:absolute;
  left:1017px;
  top:147px;
  width:0px;
  height:0px;
}
#u1074_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u1074_seg1 {
  position:absolute;
  left:81px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1075 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076 {
  position:absolute;
  left:513px;
  top:147px;
  width:0px;
  height:0px;
}
#u1076_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u1076_seg1 {
  position:absolute;
  left:38px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1077 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078 {
  position:absolute;
  left:349px;
  top:147px;
  width:0px;
  height:0px;
}
#u1078_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u1078_seg1 {
  position:absolute;
  left:49px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1079 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1080 {
  position:absolute;
  left:128px;
  top:262px;
  width:0px;
  height:0px;
}
#u1080_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u1080_seg1 {
  position:absolute;
  left:98px;
  top:-119px;
  width:8px;
  height:123px;
}
#u1080_seg2 {
  position:absolute;
  left:98px;
  top:-119px;
  width:23px;
  height:8px;
}
#u1080_seg3 {
  position:absolute;
  left:106px;
  top:-125px;
  width:20px;
  height:20px;
}
#u1081 {
  position:absolute;
  left:52px;
  top:-24px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1082 {
  position:absolute;
  left:128px;
  top:262px;
  width:0px;
  height:0px;
}
#u1082_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u1082_seg1 {
  position:absolute;
  left:98px;
  top:-4px;
  width:8px;
  height:147px;
}
#u1082_seg2 {
  position:absolute;
  left:98px;
  top:135px;
  width:23px;
  height:8px;
}
#u1082_seg3 {
  position:absolute;
  left:106px;
  top:129px;
  width:20px;
  height:20px;
}
#u1083 {
  position:absolute;
  left:52px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1084 {
  position:absolute;
  left:850px;
  top:262px;
  width:0px;
  height:0px;
}
#u1084_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u1084_seg1 {
  position:absolute;
  left:46px;
  top:-119px;
  width:8px;
  height:123px;
}
#u1084_seg2 {
  position:absolute;
  left:46px;
  top:-119px;
  width:21px;
  height:8px;
}
#u1084_seg3 {
  position:absolute;
  left:52px;
  top:-125px;
  width:20px;
  height:20px;
}
#u1085 {
  position:absolute;
  left:0px;
  top:-49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1086 {
  position:absolute;
  left:850px;
  top:262px;
  width:0px;
  height:0px;
}
#u1086_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:54px;
  height:8px;
}
#u1086_seg1 {
  position:absolute;
  left:46px;
  top:-4px;
  width:8px;
  height:147px;
}
#u1086_seg2 {
  position:absolute;
  left:46px;
  top:135px;
  width:21px;
  height:8px;
}
#u1086_seg3 {
  position:absolute;
  left:52px;
  top:129px;
  width:20px;
  height:20px;
}
#u1087 {
  position:absolute;
  left:0px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1088 {
  position:absolute;
  left:566px;
  top:117px;
  width:100px;
  height:60px;
}
#u1089 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1090 {
  position:absolute;
  left:666px;
  top:147px;
  width:0px;
  height:0px;
}
#u1090_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u1090_seg1 {
  position:absolute;
  left:39px;
  top:-4px;
  width:8px;
  height:123px;
}
#u1090_seg2 {
  position:absolute;
  left:39px;
  top:111px;
  width:45px;
  height:8px;
}
#u1090_seg3 {
  position:absolute;
  left:69px;
  top:105px;
  width:20px;
  height:20px;
}
#u1091 {
  position:absolute;
  left:-7px;
  top:49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1092 {
  position:absolute;
  left:413px;
  top:371px;
  width:100px;
  height:60px;
}
#u1093 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1094 {
  position:absolute;
  left:349px;
  top:401px;
  width:0px;
  height:0px;
}
#u1094_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:68px;
  height:8px;
}
#u1094_seg1 {
  position:absolute;
  left:49px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1095 {
  position:absolute;
  left:-18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1096 {
  position:absolute;
  left:566px;
  top:371px;
  width:100px;
  height:60px;
}
#u1097 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1098 {
  position:absolute;
  left:513px;
  top:401px;
  width:0px;
  height:0px;
}
#u1098_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:57px;
  height:8px;
}
#u1098_seg1 {
  position:absolute;
  left:38px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1099 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1100 {
  position:absolute;
  left:666px;
  top:401px;
  width:0px;
  height:0px;
}
#u1100_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:47px;
  height:8px;
}
#u1100_seg1 {
  position:absolute;
  left:39px;
  top:-143px;
  width:8px;
  height:147px;
}
#u1100_seg2 {
  position:absolute;
  left:39px;
  top:-143px;
  width:45px;
  height:8px;
}
#u1100_seg3 {
  position:absolute;
  left:69px;
  top:-149px;
  width:20px;
  height:20px;
}
#u1101 {
  position:absolute;
  left:-7px;
  top:-77px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1102 {
  position:absolute;
  left:463px;
  top:371px;
  width:0px;
  height:0px;
}
#u1102_seg0 {
  position:absolute;
  left:-4px;
  top:-113px;
  width:8px;
  height:113px;
}
#u1102_seg1 {
  position:absolute;
  left:-4px;
  top:-113px;
  width:291px;
  height:8px;
}
#u1102_seg2 {
  position:absolute;
  left:272px;
  top:-119px;
  width:20px;
  height:20px;
}
#u1103 {
  position:absolute;
  left:39px;
  top:-117px;
  width:100px;
  word-wrap:break-word;
}
#u1104 {
  position:absolute;
  left:1574px;
  top:117px;
  width:0px;
  height:0px;
}
#u1104_seg0 {
  position:absolute;
  left:-4px;
  top:-80px;
  width:8px;
  height:80px;
}
#u1104_seg1 {
  position:absolute;
  left:-1407px;
  top:-80px;
  width:1411px;
  height:8px;
}
#u1104_seg2 {
  position:absolute;
  left:-1407px;
  top:-80px;
  width:8px;
  height:216px;
}
#u1104_seg3 {
  position:absolute;
  left:-1413px;
  top:121px;
  width:20px;
  height:20px;
}
#u1105 {
  position:absolute;
  left:-820px;
  top:-84px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
