body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1979px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1841_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1841 {
  position:absolute;
  left:93px;
  top:393px;
  width:100px;
  height:60px;
}
#u1842 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1843_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1843 {
  position:absolute;
  left:251px;
  top:393px;
  width:100px;
  height:60px;
}
#u1844 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1845_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1845 {
  position:absolute;
  left:423px;
  top:393px;
  width:100px;
  height:60px;
}
#u1846 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1847_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1847 {
  position:absolute;
  left:603px;
  top:393px;
  width:100px;
  height:60px;
}
#u1848 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1849_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1849 {
  position:absolute;
  left:803px;
  top:393px;
  width:100px;
  height:60px;
}
#u1850 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1851 {
  position:absolute;
  left:1008px;
  top:393px;
  width:100px;
  height:60px;
}
#u1852 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1853 {
  position:absolute;
  left:1195px;
  top:393px;
  width:100px;
  height:60px;
}
#u1854 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1855 {
  position:absolute;
  left:1408px;
  top:393px;
  width:100px;
  height:60px;
}
#u1856 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1857 {
  position:absolute;
  left:1195px;
  top:510px;
  width:100px;
  height:60px;
}
#u1858 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1859_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1859 {
  position:absolute;
  left:1483px;
  top:510px;
  width:100px;
  height:60px;
}
#u1860 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1861 {
  position:absolute;
  left:1295px;
  top:423px;
  width:0px;
  height:0px;
}
#u1861_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u1861_seg1 {
  position:absolute;
  left:98px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1862 {
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1863 {
  position:absolute;
  left:1108px;
  top:423px;
  width:0px;
  height:0px;
}
#u1863_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u1863_seg1 {
  position:absolute;
  left:72px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1864 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1865 {
  position:absolute;
  left:1245px;
  top:453px;
  width:0px;
  height:0px;
}
#u1865_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u1865_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u1866 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  word-wrap:break-word;
}
#u1867 {
  position:absolute;
  left:1295px;
  top:540px;
  width:0px;
  height:0px;
}
#u1867_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:192px;
  height:8px;
}
#u1867_seg1 {
  position:absolute;
  left:173px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1868 {
  position:absolute;
  left:44px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1869 {
  position:absolute;
  left:1698px;
  top:510px;
  width:100px;
  height:60px;
}
#u1870 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1871 {
  position:absolute;
  left:1583px;
  top:540px;
  width:0px;
  height:0px;
}
#u1871_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:119px;
  height:8px;
}
#u1871_seg1 {
  position:absolute;
  left:100px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1872 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1873 {
  position:absolute;
  left:1245px;
  top:570px;
  width:0px;
  height:0px;
}
#u1873_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u1873_seg1 {
  position:absolute;
  left:-4px;
  top:45px;
  width:443px;
  height:8px;
}
#u1873_seg2 {
  position:absolute;
  left:431px;
  top:-34px;
  width:8px;
  height:87px;
}
#u1873_seg3 {
  position:absolute;
  left:431px;
  top:-34px;
  width:22px;
  height:8px;
}
#u1873_seg4 {
  position:absolute;
  left:438px;
  top:-40px;
  width:20px;
  height:20px;
}
#u1874 {
  position:absolute;
  left:192px;
  top:41px;
  width:100px;
  word-wrap:break-word;
}
#u1875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1875 {
  position:absolute;
  left:679px;
  top:239px;
  width:100px;
  height:60px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1877 {
  position:absolute;
  left:1508px;
  top:423px;
  width:0px;
  height:0px;
}
#u1877_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:176px;
  height:8px;
}
#u1877_seg1 {
  position:absolute;
  left:168px;
  top:-4px;
  width:8px;
  height:125px;
}
#u1877_seg2 {
  position:absolute;
  left:168px;
  top:113px;
  width:22px;
  height:8px;
}
#u1877_seg3 {
  position:absolute;
  left:175px;
  top:107px;
  width:20px;
  height:20px;
}
#u1878 {
  position:absolute;
  left:104px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1879 {
  position:absolute;
  left:193px;
  top:423px;
  width:0px;
  height:0px;
}
#u1879_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:62px;
  height:8px;
}
#u1879_seg1 {
  position:absolute;
  left:43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1880 {
  position:absolute;
  left:-21px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1881 {
  position:absolute;
  left:351px;
  top:423px;
  width:0px;
  height:0px;
}
#u1881_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:76px;
  height:8px;
}
#u1881_seg1 {
  position:absolute;
  left:57px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1882 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1883 {
  position:absolute;
  left:523px;
  top:423px;
  width:0px;
  height:0px;
}
#u1883_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:84px;
  height:8px;
}
#u1883_seg1 {
  position:absolute;
  left:65px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1884 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1885 {
  position:absolute;
  left:703px;
  top:423px;
  width:0px;
  height:0px;
}
#u1885_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u1885_seg1 {
  position:absolute;
  left:85px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1886 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1887 {
  position:absolute;
  left:903px;
  top:423px;
  width:0px;
  height:0px;
}
#u1887_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u1887_seg1 {
  position:absolute;
  left:90px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1888 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1889 {
  position:absolute;
  left:679px;
  top:269px;
  width:0px;
  height:0px;
}
#u1889_seg0 {
  position:absolute;
  left:-210px;
  top:-4px;
  width:210px;
  height:8px;
}
#u1889_seg1 {
  position:absolute;
  left:-210px;
  top:-4px;
  width:8px;
  height:128px;
}
#u1889_seg2 {
  position:absolute;
  left:-216px;
  top:109px;
  width:20px;
  height:20px;
}
#u1890 {
  position:absolute;
  left:-215px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1891 {
  position:absolute;
  left:853px;
  top:393px;
  width:0px;
  height:0px;
}
#u1891_seg0 {
  position:absolute;
  left:-4px;
  top:-128px;
  width:8px;
  height:128px;
}
#u1891_seg1 {
  position:absolute;
  left:-74px;
  top:-128px;
  width:78px;
  height:8px;
}
#u1891_seg2 {
  position:absolute;
  left:-79px;
  top:-134px;
  width:20px;
  height:20px;
}
#u1892 {
  position:absolute;
  left:-50px;
  top:-107px;
  width:100px;
  word-wrap:break-word;
}
#u1893 {
  position:absolute;
  left:1058px;
  top:393px;
  width:0px;
  height:0px;
}
#u1893_seg0 {
  position:absolute;
  left:-4px;
  top:-128px;
  width:8px;
  height:128px;
}
#u1893_seg1 {
  position:absolute;
  left:-279px;
  top:-128px;
  width:283px;
  height:8px;
}
#u1893_seg2 {
  position:absolute;
  left:-284px;
  top:-134px;
  width:20px;
  height:20px;
}
#u1894 {
  position:absolute;
  left:-128px;
  top:-132px;
  width:100px;
  word-wrap:break-word;
}
#u1895 {
  position:absolute;
  left:1458px;
  top:393px;
  width:0px;
  height:0px;
}
#u1895_seg0 {
  position:absolute;
  left:-4px;
  top:-128px;
  width:8px;
  height:128px;
}
#u1895_seg1 {
  position:absolute;
  left:-679px;
  top:-128px;
  width:683px;
  height:8px;
}
#u1895_seg2 {
  position:absolute;
  left:-684px;
  top:-134px;
  width:20px;
  height:20px;
}
#u1896 {
  position:absolute;
  left:-328px;
  top:-132px;
  width:100px;
  word-wrap:break-word;
}
#u1897 {
  position:absolute;
  left:1533px;
  top:510px;
  width:0px;
  height:0px;
}
#u1897_seg0 {
  position:absolute;
  left:-4px;
  top:-245px;
  width:8px;
  height:245px;
}
#u1897_seg1 {
  position:absolute;
  left:-754px;
  top:-245px;
  width:758px;
  height:8px;
}
#u1897_seg2 {
  position:absolute;
  left:-759px;
  top:-251px;
  width:20px;
  height:20px;
}
#u1898 {
  position:absolute;
  left:-306px;
  top:-249px;
  width:100px;
  word-wrap:break-word;
}
#u1899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1899 {
  position:absolute;
  left:1879px;
  top:510px;
  width:100px;
  height:60px;
}
#u1900 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1901 {
  position:absolute;
  left:1798px;
  top:540px;
  width:0px;
  height:0px;
}
#u1901_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u1901_seg1 {
  position:absolute;
  left:66px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1902 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
