body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3510_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u3510 {
  position:absolute;
  left:400px;
  top:10px;
  width:422px;
  height:829px;
}
#u3511 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3512_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:428px;
}
#u3512 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:428px;
}
#u3513 {
  position:absolute;
  left:2px;
  top:206px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3514 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:667px;
}
#u3515 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:239px;
}
#u3516 {
  position:absolute;
  left:421px;
  top:504px;
  width:375px;
  height:239px;
}
#u3517 {
  position:absolute;
  left:2px;
  top:112px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3518_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:428px;
  background:inherit;
  background-color:rgba(54, 54, 54, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3518 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:428px;
  opacity:0.5;
}
#u3519 {
  position:absolute;
  left:2px;
  top:206px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3520 {
  position:absolute;
  left:427px;
  top:517px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3521 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:428px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3522 {
  position:absolute;
  left:421px;
  top:555px;
  width:375px;
  height:120px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
