body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2398px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1832 {
  position:absolute;
  left:107px;
  top:221px;
  width:100px;
  height:60px;
}
#u1833 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1834 {
  position:absolute;
  left:286px;
  top:221px;
  width:100px;
  height:60px;
}
#u1835 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1836 {
  position:absolute;
  left:459px;
  top:221px;
  width:100px;
  height:60px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1838 {
  position:absolute;
  left:823px;
  top:334px;
  width:100px;
  height:60px;
}
#u1839 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1840 {
  position:absolute;
  left:207px;
  top:251px;
  width:0px;
  height:0px;
}
#u1840_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u1840_seg1 {
  position:absolute;
  left:64px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1841 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842 {
  position:absolute;
  left:386px;
  top:251px;
  width:0px;
  height:0px;
}
#u1842_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u1842_seg1 {
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1843 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1844 {
  position:absolute;
  left:823px;
  top:221px;
  width:100px;
  height:60px;
}
#u1845 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1846 {
  position:absolute;
  left:638px;
  top:221px;
  width:100px;
  height:60px;
}
#u1847 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1848 {
  position:absolute;
  left:738px;
  top:251px;
  width:0px;
  height:0px;
}
#u1848_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u1848_seg1 {
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1849 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850 {
  position:absolute;
  left:559px;
  top:251px;
  width:0px;
  height:0px;
}
#u1850_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:83px;
  height:8px;
}
#u1850_seg1 {
  position:absolute;
  left:64px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1851 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1852 {
  position:absolute;
  left:1019px;
  top:221px;
  width:100px;
  height:60px;
}
#u1853 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1854 {
  position:absolute;
  left:923px;
  top:251px;
  width:0px;
  height:0px;
}
#u1854_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u1854_seg1 {
  position:absolute;
  left:81px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1855 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1856 {
  position:absolute;
  left:1069px;
  top:281px;
  width:0px;
  height:0px;
}
#u1856_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u1856_seg1 {
  position:absolute;
  left:-200px;
  top:35px;
  width:204px;
  height:8px;
}
#u1856_seg2 {
  position:absolute;
  left:-200px;
  top:35px;
  width:8px;
  height:18px;
}
#u1856_seg3 {
  position:absolute;
  left:-206px;
  top:38px;
  width:20px;
  height:20px;
}
#u1857 {
  position:absolute;
  left:-136px;
  top:31px;
  width:100px;
  word-wrap:break-word;
}
#u1858 {
  position:absolute;
  left:823px;
  top:364px;
  width:0px;
  height:0px;
}
#u1858_seg0 {
  position:absolute;
  left:-139px;
  top:-4px;
  width:139px;
  height:8px;
}
#u1858_seg1 {
  position:absolute;
  left:-139px;
  top:-83px;
  width:8px;
  height:87px;
}
#u1858_seg2 {
  position:absolute;
  left:-145px;
  top:-88px;
  width:20px;
  height:20px;
}
#u1859 {
  position:absolute;
  left:-159px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1860 {
  position:absolute;
  left:1205px;
  top:221px;
  width:100px;
  height:60px;
}
#u1861 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1862 {
  position:absolute;
  left:1119px;
  top:251px;
  width:0px;
  height:0px;
}
#u1862_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u1862_seg1 {
  position:absolute;
  left:71px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1863 {
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1864 {
  position:absolute;
  left:873px;
  top:281px;
  width:0px;
  height:0px;
}
#u1864_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u1864_seg1 {
  position:absolute;
  left:-10px;
  top:38px;
  width:20px;
  height:20px;
}
#u1865 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1866 {
  position:absolute;
  left:1564px;
  top:221px;
  width:100px;
  height:60px;
}
#u1867 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1868 {
  position:absolute;
  left:1742px;
  top:221px;
  width:100px;
  height:60px;
}
#u1869 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1870 {
  position:absolute;
  left:1902px;
  top:221px;
  width:100px;
  height:60px;
}
#u1871 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1872 {
  position:absolute;
  left:1387px;
  top:221px;
  width:100px;
  height:60px;
}
#u1873 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1874 {
  position:absolute;
  left:1842px;
  top:251px;
  width:0px;
  height:0px;
}
#u1874_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u1874_seg1 {
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1875 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1876 {
  position:absolute;
  left:1664px;
  top:251px;
  width:0px;
  height:0px;
}
#u1876_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:82px;
  height:8px;
}
#u1876_seg1 {
  position:absolute;
  left:63px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1877 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1878 {
  position:absolute;
  left:1305px;
  top:251px;
  width:0px;
  height:0px;
}
#u1878_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u1878_seg1 {
  position:absolute;
  left:67px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1879 {
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1880 {
  position:absolute;
  left:1487px;
  top:251px;
  width:0px;
  height:0px;
}
#u1880_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:81px;
  height:8px;
}
#u1880_seg1 {
  position:absolute;
  left:62px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1881 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1882 {
  position:absolute;
  left:2002px;
  top:251px;
  width:0px;
  height:0px;
}
#u1882_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u1882_seg1 {
  position:absolute;
  left:90px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1883 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1884 {
  position:absolute;
  left:2107px;
  top:221px;
  width:100px;
  height:60px;
}
#u1885 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1886_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1886 {
  position:absolute;
  left:2298px;
  top:221px;
  width:100px;
  height:60px;
}
#u1887 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1888 {
  position:absolute;
  left:2207px;
  top:251px;
  width:0px;
  height:0px;
}
#u1888_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:95px;
  height:8px;
}
#u1888_seg1 {
  position:absolute;
  left:76px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1889 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1890 {
  position:absolute;
  left:1952px;
  top:281px;
  width:0px;
  height:0px;
}
#u1890_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u1890_seg1 {
  position:absolute;
  left:-258px;
  top:55px;
  width:262px;
  height:8px;
}
#u1890_seg2 {
  position:absolute;
  left:-258px;
  top:55px;
  width:8px;
  height:17px;
}
#u1890_seg3 {
  position:absolute;
  left:-264px;
  top:57px;
  width:20px;
  height:20px;
}
#u1891 {
  position:absolute;
  left:-154px;
  top:51px;
  width:100px;
  word-wrap:break-word;
}
#u1892 {
  position:absolute;
  left:1792px;
  top:281px;
  width:0px;
  height:0px;
}
#u1892_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u1892_seg1 {
  position:absolute;
  left:-98px;
  top:55px;
  width:102px;
  height:8px;
}
#u1892_seg2 {
  position:absolute;
  left:-98px;
  top:55px;
  width:8px;
  height:17px;
}
#u1892_seg3 {
  position:absolute;
  left:-104px;
  top:57px;
  width:20px;
  height:20px;
}
#u1893 {
  position:absolute;
  left:-74px;
  top:51px;
  width:100px;
  word-wrap:break-word;
}
#u1894 {
  position:absolute;
  left:1614px;
  top:281px;
  width:0px;
  height:0px;
}
#u1894_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u1894_seg1 {
  position:absolute;
  left:-4px;
  top:55px;
  width:92px;
  height:8px;
}
#u1894_seg2 {
  position:absolute;
  left:80px;
  top:55px;
  width:8px;
  height:17px;
}
#u1894_seg3 {
  position:absolute;
  left:74px;
  top:57px;
  width:20px;
  height:20px;
}
#u1895 {
  position:absolute;
  left:-31px;
  top:51px;
  width:100px;
  word-wrap:break-word;
}
#u1896 {
  position:absolute;
  left:1437px;
  top:281px;
  width:0px;
  height:0px;
}
#u1896_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:63px;
}
#u1896_seg1 {
  position:absolute;
  left:-4px;
  top:55px;
  width:269px;
  height:8px;
}
#u1896_seg2 {
  position:absolute;
  left:257px;
  top:55px;
  width:8px;
  height:17px;
}
#u1896_seg3 {
  position:absolute;
  left:251px;
  top:57px;
  width:20px;
  height:20px;
}
#u1897 {
  position:absolute;
  left:58px;
  top:51px;
  width:100px;
  word-wrap:break-word;
}
#u1898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1898 {
  position:absolute;
  left:1648px;
  top:353px;
  width:100px;
  height:60px;
}
#u1899 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1900 {
  position:absolute;
  left:1648px;
  top:383px;
  width:0px;
  height:0px;
}
#u1900_seg0 {
  position:absolute;
  left:-397px;
  top:-4px;
  width:397px;
  height:8px;
}
#u1900_seg1 {
  position:absolute;
  left:-397px;
  top:-102px;
  width:8px;
  height:106px;
}
#u1900_seg2 {
  position:absolute;
  left:-403px;
  top:-107px;
  width:20px;
  height:20px;
}
#u1901 {
  position:absolute;
  left:-298px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1902 {
  position:absolute;
  left:459px;
  top:450px;
  width:100px;
  height:60px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1904 {
  position:absolute;
  left:336px;
  top:281px;
  width:0px;
  height:0px;
}
#u1904_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:203px;
}
#u1904_seg1 {
  position:absolute;
  left:-4px;
  top:195px;
  width:127px;
  height:8px;
}
#u1904_seg2 {
  position:absolute;
  left:108px;
  top:189px;
  width:20px;
  height:20px;
}
#u1905 {
  position:absolute;
  left:-50px;
  top:153px;
  width:100px;
  word-wrap:break-word;
}
#u1906 {
  position:absolute;
  left:559px;
  top:480px;
  width:0px;
  height:0px;
}
#u1906_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:169px;
  height:8px;
}
#u1906_seg1 {
  position:absolute;
  left:150px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1907 {
  position:absolute;
  left:32px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1908 {
  position:absolute;
  left:724px;
  top:450px;
  width:100px;
  height:60px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1910 {
  position:absolute;
  left:824px;
  top:480px;
  width:0px;
  height:0px;
}
#u1910_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:370px;
  height:8px;
}
#u1910_seg1 {
  position:absolute;
  left:362px;
  top:-233px;
  width:8px;
  height:237px;
}
#u1910_seg2 {
  position:absolute;
  left:362px;
  top:-233px;
  width:19px;
  height:8px;
}
#u1910_seg3 {
  position:absolute;
  left:366px;
  top:-239px;
  width:20px;
  height:20px;
}
#u1911 {
  position:absolute;
  left:255px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1912 {
  position:absolute;
  left:774px;
  top:510px;
  width:0px;
  height:0px;
}
#u1912_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u1912_seg1 {
  position:absolute;
  left:-269px;
  top:43px;
  width:273px;
  height:8px;
}
#u1912_seg2 {
  position:absolute;
  left:-269px;
  top:0px;
  width:8px;
  height:51px;
}
#u1912_seg3 {
  position:absolute;
  left:-275px;
  top:-5px;
  width:20px;
  height:20px;
}
#u1913 {
  position:absolute;
  left:-182px;
  top:39px;
  width:100px;
  word-wrap:break-word;
}
