body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2568px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2865_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
}
#u2865 {
  position:absolute;
  left:293px;
  top:1976px;
  width:375px;
  height:49px;
}
#u2866 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2867 {
  position:absolute;
  left:315px;
  top:1976px;
  width:50px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2868 {
  position:absolute;
  left:409px;
  top:1976px;
  width:50px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2869 {
  position:absolute;
  left:503px;
  top:1976px;
  width:50px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2870 {
  position:absolute;
  left:595px;
  top:1976px;
  width:50px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2871 {
  position:absolute;
  left:533px;
  top:1976px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2872 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2873_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2873 {
  position:absolute;
  left:603px;
  top:1980px;
  width:37px;
  height:42px;
}
#u2874 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2875 {
  position:absolute;
  left:622px;
  top:1980px;
  width:0px;
  height:0px;
}
#u2875_seg0 {
  position:absolute;
  left:-4px;
  top:-293px;
  width:8px;
  height:293px;
}
#u2875_seg1 {
  position:absolute;
  left:-4px;
  top:-293px;
  width:124px;
  height:8px;
}
#u2875_seg2 {
  position:absolute;
  left:94px;
  top:-309px;
  width:40px;
  height:40px;
}
#u2876 {
  position:absolute;
  left:-50px;
  top:-212px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u2878 {
  position:absolute;
  left:743px;
  top:1280px;
  width:422px;
  height:829px;
}
#u2879 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2880 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:357px;
}
#u2881 {
  position:absolute;
  left:764px;
  top:1346px;
  width:375px;
  height:357px;
}
#u2882 {
  position:absolute;
  left:2px;
  top:170px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:51px;
}
#u2883 {
  position:absolute;
  left:764px;
  top:1703px;
  width:375px;
  height:51px;
}
#u2884 {
  position:absolute;
  left:2px;
  top:18px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:145px;
}
#u2885 {
  position:absolute;
  left:764px;
  top:1703px;
  width:375px;
  height:145px;
}
#u2886 {
  position:absolute;
  left:2px;
  top:64px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:14px;
}
#u2887 {
  position:absolute;
  left:764px;
  top:1909px;
  width:375px;
  height:14px;
}
#u2888 {
  position:absolute;
  left:2px;
  top:-1px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:150px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2889 {
  position:absolute;
  left:764px;
  top:1863px;
  width:375px;
  height:150px;
}
#u2890 {
  position:absolute;
  left:2px;
  top:67px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:49px;
}
#u2892 {
  position:absolute;
  left:764px;
  top:1964px;
  width:375px;
  height:49px;
}
#u2893 {
  position:absolute;
  left:2px;
  top:16px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2894 {
  position:absolute;
  left:786px;
  top:1964px;
  width:50px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2895 {
  position:absolute;
  left:880px;
  top:1964px;
  width:50px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2896 {
  position:absolute;
  left:974px;
  top:1964px;
  width:50px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2897 {
  position:absolute;
  left:1066px;
  top:1964px;
  width:50px;
  height:49px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u2898 {
  position:absolute;
  left:1004px;
  top:1964px;
  width:20px;
  height:20px;
  font-size:12px;
  color:#FFFFFF;
}
#u2899 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  word-wrap:break-word;
}
#u2900 {
  position:absolute;
  left:764px;
  top:1420px;
  width:375px;
  height:88px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2901 {
  position:absolute;
  left:764px;
  top:1581px;
  width:375px;
  height:112px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2902 {
  position:absolute;
  left:764px;
  top:1703px;
  width:375px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2903 {
  position:absolute;
  left:764px;
  top:1764px;
  width:375px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2904 {
  position:absolute;
  left:764px;
  top:1816px;
  width:375px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2905 {
  position:absolute;
  left:764px;
  top:1369px;
  width:49px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2906 {
  position:absolute;
  left:985px;
  top:1645px;
  width:62px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2907 {
  position:absolute;
  left:1057px;
  top:1645px;
  width:62px;
  height:41px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2908 {
  position:absolute;
  left:1091px;
  top:1710px;
  width:37px;
  height:42px;
}
#u2909 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2910 {
  position:absolute;
  left:1110px;
  top:1710px;
  width:0px;
  height:0px;
}
#u2910_seg0 {
  position:absolute;
  left:-6px;
  top:-4px;
  width:6px;
  height:8px;
}
#u2910_seg1 {
  position:absolute;
  left:-6px;
  top:-1013px;
  width:8px;
  height:1017px;
}
#u2910_seg2 {
  position:absolute;
  left:-6px;
  top:-1013px;
  width:328px;
  height:8px;
}
#u2910_seg3 {
  position:absolute;
  left:296px;
  top:-1029px;
  width:40px;
  height:40px;
}
#u2911 {
  position:absolute;
  left:-52px;
  top:-674px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u2913 {
  position:absolute;
  left:1432px;
  top:250px;
  width:422px;
  height:829px;
}
#u2914 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2915 {
  position:absolute;
  left:1453px;
  top:316px;
  width:375px;
  height:667px;
}
#u2916 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2917 {
  position:absolute;
  left:1464px;
  top:342px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2918 {
  position:absolute;
  left:1453px;
  top:395px;
  width:375px;
  height:113px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2919 {
  position:absolute;
  left:1694px;
  top:346px;
  width:30px;
  height:24px;
}
#u2920 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u2922 {
  position:absolute;
  left:1432px;
  top:1280px;
  width:422px;
  height:829px;
}
#u2923 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2924 {
  position:absolute;
  left:1453px;
  top:1346px;
  width:375px;
  height:667px;
}
#u2925 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2926 {
  position:absolute;
  left:1464px;
  top:1372px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2927 {
  position:absolute;
  left:1453px;
  top:1444px;
  width:375px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2928 {
  position:absolute;
  left:1453px;
  top:1489px;
  width:375px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2929 {
  position:absolute;
  left:1453px;
  top:1533px;
  width:375px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2930 {
  position:absolute;
  left:1453px;
  top:1577px;
  width:375px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2931 {
  position:absolute;
  left:1453px;
  top:1622px;
  width:375px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2932 {
  position:absolute;
  left:1453px;
  top:1666px;
  width:375px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u2934 {
  position:absolute;
  left:2146px;
  top:1280px;
  width:422px;
  height:829px;
}
#u2935 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2936 {
  position:absolute;
  left:2167px;
  top:1346px;
  width:375px;
  height:667px;
}
#u2937 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2938 {
  position:absolute;
  left:2178px;
  top:1372px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2939 {
  position:absolute;
  left:2218px;
  top:1925px;
  width:276px;
  height:47px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u2941 {
  position:absolute;
  left:1432px;
  top:2362px;
  width:422px;
  height:829px;
}
#u2942 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u2943 {
  position:absolute;
  left:1453px;
  top:2428px;
  width:375px;
  height:667px;
}
#u2944 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2945 {
  position:absolute;
  left:1464px;
  top:2454px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2946_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2946 {
  position:absolute;
  left:1432px;
  top:680px;
  width:37px;
  height:42px;
}
#u2947 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2948 {
  position:absolute;
  left:1464px;
  top:338px;
  width:37px;
  height:42px;
}
#u2949 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2950 {
  position:absolute;
  left:1483px;
  top:338px;
  width:0px;
  height:0px;
}
#u2950_seg0 {
  position:absolute;
  left:-4px;
  top:-180px;
  width:8px;
  height:180px;
}
#u2950_seg1 {
  position:absolute;
  left:-532px;
  top:-180px;
  width:536px;
  height:8px;
}
#u2950_seg2 {
  position:absolute;
  left:-532px;
  top:-180px;
  width:8px;
  height:1122px;
}
#u2950_seg3 {
  position:absolute;
  left:-548px;
  top:916px;
  width:40px;
  height:40px;
}
#u2951 {
  position:absolute;
  left:-578px;
  top:23px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2952 {
  position:absolute;
  left:936px;
  top:1280px;
  width:37px;
  height:42px;
}
#u2953 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2954 {
  position:absolute;
  left:1091px;
  top:1762px;
  width:37px;
  height:42px;
}
#u2955 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2956 {
  position:absolute;
  left:1128px;
  top:1783px;
  width:0px;
  height:0px;
}
#u2956_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:171px;
  height:8px;
}
#u2956_seg1 {
  position:absolute;
  left:163px;
  top:-92px;
  width:8px;
  height:96px;
}
#u2956_seg2 {
  position:absolute;
  left:163px;
  top:-92px;
  width:141px;
  height:8px;
}
#u2956_seg3 {
  position:absolute;
  left:278px;
  top:-108px;
  width:40px;
  height:40px;
}
#u2957 {
  position:absolute;
  left:117px;
  top:-37px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2958 {
  position:absolute;
  left:1432px;
  top:1674px;
  width:37px;
  height:42px;
}
#u2959 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2960 {
  position:absolute;
  left:1464px;
  top:1367px;
  width:37px;
  height:42px;
}
#u2961 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2962 {
  position:absolute;
  left:936px;
  top:1280px;
  width:37px;
  height:42px;
}
#u2963 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2964 {
  position:absolute;
  left:1464px;
  top:1388px;
  width:0px;
  height:0px;
}
#u2964_seg0 {
  position:absolute;
  left:-303px;
  top:-4px;
  width:303px;
  height:8px;
}
#u2964_seg1 {
  position:absolute;
  left:-303px;
  top:0px;
  width:8px;
  height:4px;
}
#u2964_seg2 {
  position:absolute;
  left:-319px;
  top:-26px;
  width:40px;
  height:40px;
}
#u2965 {
  position:absolute;
  left:-200px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2966 {
  position:absolute;
  left:843px;
  top:1807px;
  width:37px;
  height:42px;
}
#u2967 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2968 {
  position:absolute;
  left:862px;
  top:1849px;
  width:0px;
  height:0px;
}
#u2968_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:906px;
}
#u2968_seg1 {
  position:absolute;
  left:-4px;
  top:898px;
  width:574px;
  height:8px;
}
#u2968_seg2 {
  position:absolute;
  left:544px;
  top:882px;
  width:40px;
  height:40px;
}
#u2969 {
  position:absolute;
  left:-50px;
  top:728px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2970 {
  position:absolute;
  left:1432px;
  top:2730px;
  width:37px;
  height:42px;
}
#u2971 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2972 {
  position:absolute;
  left:1464px;
  top:2450px;
  width:37px;
  height:42px;
}
#u2973 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2974 {
  position:absolute;
  left:929px;
  top:2067px;
  width:37px;
  height:42px;
}
#u2975 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2976 {
  position:absolute;
  left:1464px;
  top:2471px;
  width:0px;
  height:0px;
}
#u2976_seg0 {
  position:absolute;
  left:-520px;
  top:-4px;
  width:520px;
  height:8px;
}
#u2976_seg1 {
  position:absolute;
  left:-520px;
  top:-362px;
  width:8px;
  height:366px;
}
#u2976_seg2 {
  position:absolute;
  left:-536px;
  top:-376px;
  width:40px;
  height:40px;
}
#u2977 {
  position:absolute;
  left:-489px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2978 {
  position:absolute;
  left:2173px;
  top:1367px;
  width:37px;
  height:42px;
}
#u2979 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2980 {
  position:absolute;
  left:2192px;
  top:1367px;
  width:0px;
  height:0px;
}
#u2980_seg0 {
  position:absolute;
  left:-4px;
  top:-180px;
  width:8px;
  height:180px;
}
#u2980_seg1 {
  position:absolute;
  left:-552px;
  top:-180px;
  width:556px;
  height:8px;
}
#u2980_seg2 {
  position:absolute;
  left:-552px;
  top:-180px;
  width:8px;
  height:93px;
}
#u2980_seg3 {
  position:absolute;
  left:-568px;
  top:-113px;
  width:40px;
  height:40px;
}
#u2981 {
  position:absolute;
  left:-280px;
  top:-184px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2982 {
  position:absolute;
  left:1625px;
  top:1280px;
  width:37px;
  height:42px;
}
#u2983 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2984 {
  position:absolute;
  left:1775px;
  top:1489px;
  width:37px;
  height:42px;
}
#u2985 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2986 {
  position:absolute;
  left:1812px;
  top:1510px;
  width:0px;
  height:0px;
}
#u2986_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:337px;
  height:8px;
}
#u2986_seg1 {
  position:absolute;
  left:307px;
  top:-20px;
  width:40px;
  height:40px;
}
#u2987 {
  position:absolute;
  left:116px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2988 {
  position:absolute;
  left:2145px;
  top:1489px;
  width:37px;
  height:42px;
}
#u2989 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2990 {
  position:absolute;
  left:1128px;
  top:1367px;
  width:37px;
  height:42px;
}
#u2991 {
  position:absolute;
  left:2px;
  top:13px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
