body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1094px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3440_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u3440 {
  position:absolute;
  left:400px;
  top:10px;
  width:422px;
  height:829px;
}
#u3441 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3442_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3442 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:667px;
}
#u3443 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3444 {
  position:absolute;
  left:432px;
  top:102px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3445 {
  position:absolute;
  left:421px;
  top:151px;
  width:375px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3446 {
  position:absolute;
  left:421px;
  top:202px;
  width:375px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3447 {
  position:absolute;
  left:421px;
  top:697px;
  width:375px;
  height:46px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:60px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3448 {
  position:absolute;
  left:132px;
  top:168px;
  width:250px;
  height:60px;
  text-align:left;
}
#u3449 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3450 {
  position:absolute;
  left:382px;
  top:198px;
  width:0px;
  height:0px;
}
#u3450_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:46px;
  height:8px;
}
#u3450_seg1 {
  position:absolute;
  left:38px;
  top:-4px;
  width:8px;
  height:6px;
}
#u3450_seg2 {
  position:absolute;
  left:32px;
  top:-12px;
  width:20px;
  height:21px;
}
#u3451 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:123px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3452 {
  position:absolute;
  left:844px;
  top:240px;
  width:250px;
  height:123px;
  text-align:left;
}
#u3453 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3454 {
  position:absolute;
  left:844px;
  top:302px;
  width:0px;
  height:0px;
}
#u3454_seg0 {
  position:absolute;
  left:-88px;
  top:-4px;
  width:88px;
  height:8px;
}
#u3454_seg1 {
  position:absolute;
  left:-88px;
  top:-3px;
  width:8px;
  height:7px;
}
#u3454_seg2 {
  position:absolute;
  left:-94px;
  top:-10px;
  width:20px;
  height:21px;
}
#u3455 {
  position:absolute;
  left:-94px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:123px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3456 {
  position:absolute;
  left:844px;
  top:645px;
  width:250px;
  height:123px;
  text-align:left;
}
#u3457 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3458 {
  position:absolute;
  left:844px;
  top:707px;
  width:0px;
  height:0px;
}
#u3458_seg0 {
  position:absolute;
  left:-56px;
  top:-4px;
  width:56px;
  height:8px;
}
#u3458_seg1 {
  position:absolute;
  left:-56px;
  top:-2px;
  width:8px;
  height:6px;
}
#u3458_seg2 {
  position:absolute;
  left:-62px;
  top:-9px;
  width:20px;
  height:21px;
}
#u3459 {
  position:absolute;
  left:-77px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
