body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1191px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1298 {
  position:absolute;
  left:56px;
  top:636px;
  width:100px;
  height:60px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1300 {
  position:absolute;
  left:237px;
  top:636px;
  width:100px;
  height:60px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1302 {
  position:absolute;
  left:677px;
  top:636px;
  width:100px;
  height:60px;
}
#u1303 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1304 {
  position:absolute;
  left:881px;
  top:636px;
  width:100px;
  height:60px;
}
#u1305 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1306 {
  position:absolute;
  left:463px;
  top:636px;
  width:100px;
  height:60px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1308 {
  position:absolute;
  left:463px;
  top:260px;
  width:100px;
  height:60px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1310 {
  position:absolute;
  left:563px;
  top:666px;
  width:0px;
  height:0px;
}
#u1310_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u1310_seg1 {
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1311 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1312 {
  position:absolute;
  left:777px;
  top:666px;
  width:0px;
  height:0px;
}
#u1312_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u1312_seg1 {
  position:absolute;
  left:89px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1313 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1314 {
  position:absolute;
  left:513px;
  top:636px;
  width:0px;
  height:0px;
}
#u1314_seg0 {
  position:absolute;
  left:-4px;
  top:-316px;
  width:8px;
  height:320px;
}
#u1314_seg1 {
  position:absolute;
  left:-10px;
  top:-321px;
  width:20px;
  height:20px;
}
#u1315 {
  position:absolute;
  left:-50px;
  top:-166px;
  width:100px;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1316 {
  position:absolute;
  left:463px;
  top:127px;
  width:100px;
  height:60px;
}
#u1317 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1318 {
  position:absolute;
  left:513px;
  top:260px;
  width:0px;
  height:0px;
}
#u1318_seg0 {
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:77px;
}
#u1318_seg1 {
  position:absolute;
  left:-10px;
  top:-78px;
  width:20px;
  height:20px;
}
#u1319 {
  position:absolute;
  left:-50px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1320 {
  position:absolute;
  left:156px;
  top:666px;
  width:0px;
  height:0px;
}
#u1320_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u1320_seg1 {
  position:absolute;
  left:66px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1321 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1322 {
  position:absolute;
  left:337px;
  top:666px;
  width:0px;
  height:0px;
}
#u1322_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:130px;
  height:8px;
}
#u1322_seg1 {
  position:absolute;
  left:111px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1323 {
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1324 {
  position:absolute;
  left:677px;
  top:260px;
  width:100px;
  height:60px;
}
#u1325 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1326 {
  position:absolute;
  left:563px;
  top:290px;
  width:0px;
  height:0px;
}
#u1326_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u1326_seg1 {
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1327 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1328_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1328 {
  position:absolute;
  left:677px;
  top:469px;
  width:100px;
  height:60px;
}
#u1329 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1330 {
  position:absolute;
  left:727px;
  top:636px;
  width:0px;
  height:0px;
}
#u1330_seg0 {
  position:absolute;
  left:-4px;
  top:-107px;
  width:8px;
  height:111px;
}
#u1330_seg1 {
  position:absolute;
  left:-10px;
  top:-112px;
  width:20px;
  height:20px;
}
#u1331 {
  position:absolute;
  left:-50px;
  top:-62px;
  width:100px;
  word-wrap:break-word;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1332 {
  position:absolute;
  left:1091px;
  top:636px;
  width:100px;
  height:60px;
}
#u1333 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  word-wrap:break-word;
}
#u1334 {
  position:absolute;
  left:931px;
  top:636px;
  width:0px;
  height:0px;
}
#u1334_seg0 {
  position:absolute;
  left:-4px;
  top:-107px;
  width:8px;
  height:111px;
}
#u1334_seg1 {
  position:absolute;
  left:-10px;
  top:-112px;
  width:20px;
  height:20px;
}
#u1335 {
  position:absolute;
  left:-50px;
  top:-62px;
  width:100px;
  word-wrap:break-word;
}
#u1336 {
  position:absolute;
  left:981px;
  top:666px;
  width:0px;
  height:0px;
}
#u1336_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u1336_seg1 {
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1337 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1338 {
  position:absolute;
  left:881px;
  top:469px;
  width:100px;
  height:60px;
}
#u1339 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1340 {
  position:absolute;
  left:1091px;
  top:260px;
  width:100px;
  height:60px;
}
#u1341 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1342 {
  position:absolute;
  left:777px;
  top:290px;
  width:0px;
  height:0px;
}
#u1342_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:318px;
  height:8px;
}
#u1342_seg1 {
  position:absolute;
  left:299px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1343 {
  position:absolute;
  left:107px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1344 {
  position:absolute;
  left:727px;
  top:469px;
  width:0px;
  height:0px;
}
#u1344_seg0 {
  position:absolute;
  left:-4px;
  top:-90px;
  width:8px;
  height:90px;
}
#u1344_seg1 {
  position:absolute;
  left:-4px;
  top:-90px;
  width:212px;
  height:8px;
}
#u1344_seg2 {
  position:absolute;
  left:200px;
  top:-183px;
  width:8px;
  height:101px;
}
#u1344_seg3 {
  position:absolute;
  left:200px;
  top:-183px;
  width:164px;
  height:8px;
}
#u1344_seg4 {
  position:absolute;
  left:349px;
  top:-189px;
  width:20px;
  height:20px;
}
#u1345 {
  position:absolute;
  left:136px;
  top:-94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1346 {
  position:absolute;
  left:931px;
  top:469px;
  width:0px;
  height:0px;
}
#u1346_seg0 {
  position:absolute;
  left:-4px;
  top:-183px;
  width:8px;
  height:183px;
}
#u1346_seg1 {
  position:absolute;
  left:-4px;
  top:-183px;
  width:164px;
  height:8px;
}
#u1346_seg2 {
  position:absolute;
  left:145px;
  top:-189px;
  width:20px;
  height:20px;
}
#u1347 {
  position:absolute;
  left:-50px;
  top:-178px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1348 {
  position:absolute;
  left:1141px;
  top:636px;
  width:0px;
  height:0px;
}
#u1348_seg0 {
  position:absolute;
  left:-4px;
  top:-316px;
  width:8px;
  height:320px;
}
#u1348_seg1 {
  position:absolute;
  left:-10px;
  top:-321px;
  width:20px;
  height:20px;
}
#u1349 {
  position:absolute;
  left:-50px;
  top:-166px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1350 {
  position:absolute;
  left:563px;
  top:157px;
  width:0px;
  height:0px;
}
#u1350_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:582px;
  height:8px;
}
#u1350_seg1 {
  position:absolute;
  left:574px;
  top:-4px;
  width:8px;
  height:107px;
}
#u1350_seg2 {
  position:absolute;
  left:568px;
  top:88px;
  width:20px;
  height:20px;
}
#u1351 {
  position:absolute;
  left:290px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
