body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1191px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1171_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1171 {
  position:absolute;
  left:56px;
  top:636px;
  width:100px;
  height:60px;
}
#u1172 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1173_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1173 {
  position:absolute;
  left:237px;
  top:636px;
  width:100px;
  height:60px;
}
#u1174 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1175 {
  position:absolute;
  left:677px;
  top:636px;
  width:100px;
  height:60px;
}
#u1176 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1177_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1177 {
  position:absolute;
  left:881px;
  top:636px;
  width:100px;
  height:60px;
}
#u1178 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1179 {
  position:absolute;
  left:463px;
  top:636px;
  width:100px;
  height:60px;
}
#u1180 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1181 {
  position:absolute;
  left:463px;
  top:260px;
  width:100px;
  height:60px;
}
#u1182 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1183 {
  position:absolute;
  left:563px;
  top:666px;
  width:0px;
  height:0px;
}
#u1183_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u1183_seg1 {
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1184 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1185 {
  position:absolute;
  left:777px;
  top:666px;
  width:0px;
  height:0px;
}
#u1185_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u1185_seg1 {
  position:absolute;
  left:89px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1186 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1187 {
  position:absolute;
  left:513px;
  top:636px;
  width:0px;
  height:0px;
}
#u1187_seg0 {
  position:absolute;
  left:-4px;
  top:-316px;
  width:8px;
  height:320px;
}
#u1187_seg1 {
  position:absolute;
  left:-10px;
  top:-321px;
  width:20px;
  height:20px;
}
#u1188 {
  position:absolute;
  left:-50px;
  top:-166px;
  width:100px;
  word-wrap:break-word;
}
#u1189_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1189 {
  position:absolute;
  left:463px;
  top:127px;
  width:100px;
  height:60px;
}
#u1190 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1191 {
  position:absolute;
  left:513px;
  top:260px;
  width:0px;
  height:0px;
}
#u1191_seg0 {
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:77px;
}
#u1191_seg1 {
  position:absolute;
  left:-10px;
  top:-78px;
  width:20px;
  height:20px;
}
#u1192 {
  position:absolute;
  left:-50px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1193 {
  position:absolute;
  left:156px;
  top:666px;
  width:0px;
  height:0px;
}
#u1193_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:85px;
  height:8px;
}
#u1193_seg1 {
  position:absolute;
  left:66px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1194 {
  position:absolute;
  left:-10px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1195 {
  position:absolute;
  left:337px;
  top:666px;
  width:0px;
  height:0px;
}
#u1195_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:130px;
  height:8px;
}
#u1195_seg1 {
  position:absolute;
  left:111px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1196 {
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1197_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1197 {
  position:absolute;
  left:677px;
  top:260px;
  width:100px;
  height:60px;
}
#u1198 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1199 {
  position:absolute;
  left:563px;
  top:290px;
  width:0px;
  height:0px;
}
#u1199_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:118px;
  height:8px;
}
#u1199_seg1 {
  position:absolute;
  left:99px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1200 {
  position:absolute;
  left:7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1201_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1201 {
  position:absolute;
  left:677px;
  top:469px;
  width:100px;
  height:60px;
}
#u1202 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1203 {
  position:absolute;
  left:727px;
  top:636px;
  width:0px;
  height:0px;
}
#u1203_seg0 {
  position:absolute;
  left:-4px;
  top:-107px;
  width:8px;
  height:111px;
}
#u1203_seg1 {
  position:absolute;
  left:-10px;
  top:-112px;
  width:20px;
  height:20px;
}
#u1204 {
  position:absolute;
  left:-50px;
  top:-62px;
  width:100px;
  word-wrap:break-word;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205 {
  position:absolute;
  left:1091px;
  top:636px;
  width:100px;
  height:60px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  word-wrap:break-word;
}
#u1207 {
  position:absolute;
  left:931px;
  top:636px;
  width:0px;
  height:0px;
}
#u1207_seg0 {
  position:absolute;
  left:-4px;
  top:-107px;
  width:8px;
  height:111px;
}
#u1207_seg1 {
  position:absolute;
  left:-10px;
  top:-112px;
  width:20px;
  height:20px;
}
#u1208 {
  position:absolute;
  left:-50px;
  top:-62px;
  width:100px;
  word-wrap:break-word;
}
#u1209 {
  position:absolute;
  left:981px;
  top:666px;
  width:0px;
  height:0px;
}
#u1209_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:114px;
  height:8px;
}
#u1209_seg1 {
  position:absolute;
  left:95px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1210 {
  position:absolute;
  left:5px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1211_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1211 {
  position:absolute;
  left:881px;
  top:469px;
  width:100px;
  height:60px;
}
#u1212 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1213_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1213 {
  position:absolute;
  left:1091px;
  top:260px;
  width:100px;
  height:60px;
}
#u1214 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1215 {
  position:absolute;
  left:777px;
  top:290px;
  width:0px;
  height:0px;
}
#u1215_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:318px;
  height:8px;
}
#u1215_seg1 {
  position:absolute;
  left:299px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1216 {
  position:absolute;
  left:107px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1217 {
  position:absolute;
  left:727px;
  top:469px;
  width:0px;
  height:0px;
}
#u1217_seg0 {
  position:absolute;
  left:-4px;
  top:-90px;
  width:8px;
  height:90px;
}
#u1217_seg1 {
  position:absolute;
  left:-4px;
  top:-90px;
  width:212px;
  height:8px;
}
#u1217_seg2 {
  position:absolute;
  left:200px;
  top:-183px;
  width:8px;
  height:101px;
}
#u1217_seg3 {
  position:absolute;
  left:200px;
  top:-183px;
  width:164px;
  height:8px;
}
#u1217_seg4 {
  position:absolute;
  left:349px;
  top:-189px;
  width:20px;
  height:20px;
}
#u1218 {
  position:absolute;
  left:136px;
  top:-94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219 {
  position:absolute;
  left:931px;
  top:469px;
  width:0px;
  height:0px;
}
#u1219_seg0 {
  position:absolute;
  left:-4px;
  top:-183px;
  width:8px;
  height:183px;
}
#u1219_seg1 {
  position:absolute;
  left:-4px;
  top:-183px;
  width:164px;
  height:8px;
}
#u1219_seg2 {
  position:absolute;
  left:145px;
  top:-189px;
  width:20px;
  height:20px;
}
#u1220 {
  position:absolute;
  left:-50px;
  top:-178px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221 {
  position:absolute;
  left:1141px;
  top:636px;
  width:0px;
  height:0px;
}
#u1221_seg0 {
  position:absolute;
  left:-4px;
  top:-316px;
  width:8px;
  height:320px;
}
#u1221_seg1 {
  position:absolute;
  left:-10px;
  top:-321px;
  width:20px;
  height:20px;
}
#u1222 {
  position:absolute;
  left:-50px;
  top:-166px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223 {
  position:absolute;
  left:563px;
  top:157px;
  width:0px;
  height:0px;
}
#u1223_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:582px;
  height:8px;
}
#u1223_seg1 {
  position:absolute;
  left:574px;
  top:-4px;
  width:8px;
  height:107px;
}
#u1223_seg2 {
  position:absolute;
  left:568px;
  top:88px;
  width:20px;
  height:20px;
}
#u1224 {
  position:absolute;
  left:290px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
