body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u3707 {
  position:absolute;
  left:400px;
  top:10px;
  width:422px;
  height:829px;
}
#u3708 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3709_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3709 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:667px;
}
#u3710 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3711 {
  position:absolute;
  left:432px;
  top:102px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3712 {
  position:absolute;
  left:421px;
  top:174px;
  width:375px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3713 {
  position:absolute;
  left:421px;
  top:219px;
  width:375px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3714 {
  position:absolute;
  left:421px;
  top:263px;
  width:375px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3715 {
  position:absolute;
  left:421px;
  top:307px;
  width:375px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3716 {
  position:absolute;
  left:421px;
  top:352px;
  width:375px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3717 {
  position:absolute;
  left:421px;
  top:396px;
  width:375px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3718_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:32px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3718 {
  position:absolute;
  left:132px;
  top:196px;
  width:250px;
  height:32px;
  text-align:left;
}
#u3719 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3720 {
  position:absolute;
  left:382px;
  top:212px;
  width:0px;
  height:0px;
}
#u3720_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:70px;
  height:8px;
}
#u3720_seg1 {
  position:absolute;
  left:62px;
  top:-1px;
  width:8px;
  height:5px;
}
#u3720_seg2 {
  position:absolute;
  left:56px;
  top:-8px;
  width:20px;
  height:21px;
}
#u3721 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
