body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:822px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3617_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u3617 {
  position:absolute;
  left:400px;
  top:10px;
  width:422px;
  height:829px;
}
#u3618 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u3619 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:667px;
}
#u3620 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3621 {
  position:absolute;
  left:757px;
  top:102px;
  width:29px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3622 {
  position:absolute;
  left:432px;
  top:102px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3623 {
  position:absolute;
  left:421px;
  top:150px;
  width:375px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3624 {
  position:absolute;
  left:421px;
  top:240px;
  width:375px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3625 {
  position:absolute;
  left:421px;
  top:330px;
  width:375px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:30px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3626 {
  position:absolute;
  left:132px;
  top:180px;
  width:250px;
  height:30px;
  text-align:left;
}
#u3627 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3628 {
  position:absolute;
  left:382px;
  top:195px;
  width:0px;
  height:0px;
}
#u3628_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:55px;
  height:8px;
}
#u3628_seg1 {
  position:absolute;
  left:47px;
  top:-1px;
  width:8px;
  height:5px;
}
#u3628_seg2 {
  position:absolute;
  left:41px;
  top:-8px;
  width:20px;
  height:21px;
}
#u3629 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
