body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1745px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u671_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u671 {
  position:absolute;
  left:54px;
  top:534px;
  width:100px;
  height:60px;
}
#u672 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u673_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u673 {
  position:absolute;
  left:246px;
  top:534px;
  width:100px;
  height:60px;
}
#u674 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u675 {
  position:absolute;
  left:246px;
  top:320px;
  width:100px;
  height:60px;
}
#u676 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u677 {
  position:absolute;
  left:246px;
  top:733px;
  width:100px;
  height:60px;
}
#u678 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u679 {
  position:absolute;
  left:440px;
  top:534px;
  width:100px;
  height:60px;
}
#u680 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u681_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u681 {
  position:absolute;
  left:634px;
  top:534px;
  width:100px;
  height:60px;
}
#u682 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u683_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u683 {
  position:absolute;
  left:822px;
  top:534px;
  width:100px;
  height:60px;
}
#u684 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u685 {
  position:absolute;
  left:1021px;
  top:534px;
  width:100px;
  height:60px;
}
#u686 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u687_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u687 {
  position:absolute;
  left:1645px;
  top:534px;
  width:100px;
  height:60px;
}
#u688 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u689_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u689 {
  position:absolute;
  left:440px;
  top:320px;
  width:100px;
  height:60px;
}
#u690 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u691 {
  position:absolute;
  left:634px;
  top:320px;
  width:100px;
  height:60px;
}
#u692 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u693 {
  position:absolute;
  left:822px;
  top:320px;
  width:100px;
  height:60px;
}
#u694 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u695 {
  position:absolute;
  left:822px;
  top:187px;
  width:100px;
  height:60px;
}
#u696 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u697_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  position:absolute;
  left:440px;
  top:733px;
  width:100px;
  height:60px;
}
#u698 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u699_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u699 {
  position:absolute;
  left:634px;
  top:733px;
  width:100px;
  height:60px;
}
#u700 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u701 {
  position:absolute;
  left:154px;
  top:564px;
  width:0px;
  height:0px;
}
#u701_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u701_seg1 {
  position:absolute;
  left:77px;
  top:-10px;
  width:20px;
  height:20px;
}
#u702 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u703 {
  position:absolute;
  left:154px;
  top:564px;
  width:0px;
  height:0px;
}
#u703_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u703_seg1 {
  position:absolute;
  left:72px;
  top:-218px;
  width:8px;
  height:222px;
}
#u703_seg2 {
  position:absolute;
  left:72px;
  top:-218px;
  width:20px;
  height:8px;
}
#u703_seg3 {
  position:absolute;
  left:77px;
  top:-224px;
  width:20px;
  height:20px;
}
#u704 {
  position:absolute;
  left:26px;
  top:-85px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u705 {
  position:absolute;
  left:154px;
  top:564px;
  width:0px;
  height:0px;
}
#u705_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u705_seg1 {
  position:absolute;
  left:72px;
  top:-4px;
  width:8px;
  height:207px;
}
#u705_seg2 {
  position:absolute;
  left:72px;
  top:195px;
  width:20px;
  height:8px;
}
#u705_seg3 {
  position:absolute;
  left:77px;
  top:189px;
  width:20px;
  height:20px;
}
#u706 {
  position:absolute;
  left:26px;
  top:62px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u707 {
  position:absolute;
  left:346px;
  top:763px;
  width:0px;
  height:0px;
}
#u707_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u707_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u708 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709 {
  position:absolute;
  left:540px;
  top:763px;
  width:0px;
  height:0px;
}
#u709_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u709_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u710 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u711 {
  position:absolute;
  left:734px;
  top:763px;
  width:0px;
  height:0px;
}
#u711_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:500px;
  height:8px;
}
#u711_seg1 {
  position:absolute;
  left:492px;
  top:-93px;
  width:8px;
  height:97px;
}
#u711_seg2 {
  position:absolute;
  left:492px;
  top:-93px;
  width:20px;
  height:8px;
}
#u711_seg3 {
  position:absolute;
  left:497px;
  top:-99px;
  width:20px;
  height:20px;
}
#u712 {
  position:absolute;
  left:250px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u713 {
  position:absolute;
  left:346px;
  top:564px;
  width:0px;
  height:0px;
}
#u713_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u713_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u714 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715 {
  position:absolute;
  left:540px;
  top:564px;
  width:0px;
  height:0px;
}
#u715_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u715_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u716 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u717 {
  position:absolute;
  left:734px;
  top:564px;
  width:0px;
  height:0px;
}
#u717_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u717_seg1 {
  position:absolute;
  left:73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u718 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u719 {
  position:absolute;
  left:922px;
  top:564px;
  width:0px;
  height:0px;
}
#u719_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:103px;
  height:8px;
}
#u719_seg1 {
  position:absolute;
  left:84px;
  top:-10px;
  width:20px;
  height:20px;
}
#u720 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u721 {
  position:absolute;
  left:1121px;
  top:564px;
  width:0px;
  height:0px;
}
#u721_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:113px;
  height:8px;
}
#u721_seg1 {
  position:absolute;
  left:105px;
  top:-4px;
  width:8px;
  height:118px;
}
#u721_seg2 {
  position:absolute;
  left:105px;
  top:106px;
  width:20px;
  height:8px;
}
#u721_seg3 {
  position:absolute;
  left:110px;
  top:100px;
  width:20px;
  height:20px;
}
#u722 {
  position:absolute;
  left:59px;
  top:0px;
  width:100px;
  word-wrap:break-word;
}
#u723 {
  position:absolute;
  left:346px;
  top:350px;
  width:0px;
  height:0px;
}
#u723_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u723_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u724 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u725 {
  position:absolute;
  left:540px;
  top:350px;
  width:0px;
  height:0px;
}
#u725_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u725_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u726 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u727 {
  position:absolute;
  left:734px;
  top:350px;
  width:0px;
  height:0px;
}
#u727_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u727_seg1 {
  position:absolute;
  left:73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u728 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u729 {
  position:absolute;
  left:922px;
  top:350px;
  width:0px;
  height:0px;
}
#u729_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:712px;
  height:8px;
}
#u729_seg1 {
  position:absolute;
  left:704px;
  top:-4px;
  width:8px;
  height:222px;
}
#u729_seg2 {
  position:absolute;
  left:704px;
  top:210px;
  width:19px;
  height:8px;
}
#u729_seg3 {
  position:absolute;
  left:708px;
  top:204px;
  width:20px;
  height:20px;
}
#u730 {
  position:absolute;
  left:418px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u731 {
  position:absolute;
  left:872px;
  top:320px;
  width:0px;
  height:0px;
}
#u731_seg0 {
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:77px;
}
#u731_seg1 {
  position:absolute;
  left:-10px;
  top:-78px;
  width:20px;
  height:20px;
}
#u732 {
  position:absolute;
  left:-50px;
  top:-44px;
  width:100px;
  word-wrap:break-word;
}
#u733 {
  position:absolute;
  left:684px;
  top:793px;
  width:0px;
  height:0px;
}
#u733_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:86px;
}
#u733_seg1 {
  position:absolute;
  left:-148px;
  top:77px;
  width:152px;
  height:8px;
}
#u733_seg2 {
  position:absolute;
  left:-148px;
  top:77px;
  width:8px;
  height:6px;
}
#u733_seg3 {
  position:absolute;
  left:-154px;
  top:68px;
  width:20px;
  height:20px;
}
#u734 {
  position:absolute;
  left:-82px;
  top:73px;
  width:100px;
  word-wrap:break-word;
}
#u735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u735 {
  position:absolute;
  left:822px;
  top:62px;
  width:100px;
  height:60px;
}
#u736 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u737 {
  position:absolute;
  left:872px;
  top:187px;
  width:0px;
  height:0px;
}
#u737_seg0 {
  position:absolute;
  left:-4px;
  top:-65px;
  width:8px;
  height:69px;
}
#u737_seg1 {
  position:absolute;
  left:-10px;
  top:-70px;
  width:20px;
  height:20px;
}
#u738 {
  position:absolute;
  left:-50px;
  top:-40px;
  width:100px;
  word-wrap:break-word;
}
#u739 {
  position:absolute;
  left:822px;
  top:92px;
  width:0px;
  height:0px;
}
#u739_seg0 {
  position:absolute;
  left:-336px;
  top:-4px;
  width:336px;
  height:8px;
}
#u739_seg1 {
  position:absolute;
  left:-336px;
  top:-4px;
  width:8px;
  height:236px;
}
#u739_seg2 {
  position:absolute;
  left:-336px;
  top:228px;
  width:8px;
  height:4px;
}
#u739_seg3 {
  position:absolute;
  left:-342px;
  top:213px;
  width:20px;
  height:20px;
}
#u740 {
  position:absolute;
  left:-330px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u741 {
  position:absolute;
  left:822px;
  top:217px;
  width:0px;
  height:0px;
}
#u741_seg0 {
  position:absolute;
  left:-88px;
  top:-4px;
  width:92px;
  height:8px;
}
#u741_seg1 {
  position:absolute;
  left:-93px;
  top:-10px;
  width:20px;
  height:20px;
}
#u742 {
  position:absolute;
  left:-94px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u743 {
  position:absolute;
  left:1021px;
  top:62px;
  width:100px;
  height:60px;
}
#u744 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u745 {
  position:absolute;
  left:922px;
  top:92px;
  width:0px;
  height:0px;
}
#u745_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:103px;
  height:8px;
}
#u745_seg1 {
  position:absolute;
  left:84px;
  top:-10px;
  width:20px;
  height:20px;
}
#u746 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u747_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u747 {
  position:absolute;
  left:440px;
  top:438px;
  width:100px;
  height:60px;
}
#u748 {
  position:absolute;
  left:2px;
  top:-2px;
  width:96px;
  word-wrap:break-word;
}
#u749 {
  position:absolute;
  left:684px;
  top:380px;
  width:0px;
  height:0px;
}
#u749_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:92px;
}
#u749_seg1 {
  position:absolute;
  left:-144px;
  top:84px;
  width:148px;
  height:8px;
}
#u749_seg2 {
  position:absolute;
  left:-149px;
  top:78px;
  width:20px;
  height:20px;
}
#u750 {
  position:absolute;
  left:-78px;
  top:80px;
  width:100px;
  word-wrap:break-word;
}
#u751 {
  position:absolute;
  left:440px;
  top:468px;
  width:0px;
  height:0px;
}
#u751_seg0 {
  position:absolute;
  left:-148px;
  top:-4px;
  width:148px;
  height:8px;
}
#u751_seg1 {
  position:absolute;
  left:-148px;
  top:-4px;
  width:8px;
  height:70px;
}
#u751_seg2 {
  position:absolute;
  left:-154px;
  top:51px;
  width:20px;
  height:20px;
}
#u752 {
  position:absolute;
  left:-155px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u753 {
  position:absolute;
  left:490px;
  top:438px;
  width:0px;
  height:0px;
}
#u753_seg0 {
  position:absolute;
  left:-4px;
  top:-58px;
  width:8px;
  height:62px;
}
#u753_seg1 {
  position:absolute;
  left:-10px;
  top:-63px;
  width:20px;
  height:20px;
}
#u754 {
  position:absolute;
  left:-50px;
  top:-37px;
  width:100px;
  word-wrap:break-word;
}
#u755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u755 {
  position:absolute;
  left:634px;
  top:187px;
  width:100px;
  height:60px;
}
#u756 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u757 {
  position:absolute;
  left:634px;
  top:217px;
  width:0px;
  height:0px;
}
#u757_seg0 {
  position:absolute;
  left:-148px;
  top:-4px;
  width:148px;
  height:8px;
}
#u757_seg1 {
  position:absolute;
  left:-148px;
  top:-4px;
  width:8px;
  height:107px;
}
#u757_seg2 {
  position:absolute;
  left:-154px;
  top:88px;
  width:20px;
  height:20px;
}
#u758 {
  position:absolute;
  left:-174px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u759_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u759 {
  position:absolute;
  left:914px;
  top:635px;
  width:100px;
  height:60px;
}
#u760 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u761 {
  position:absolute;
  left:1071px;
  top:594px;
  width:0px;
  height:0px;
}
#u761_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u761_seg1 {
  position:absolute;
  left:-57px;
  top:67px;
  width:61px;
  height:8px;
}
#u761_seg2 {
  position:absolute;
  left:-62px;
  top:61px;
  width:20px;
  height:20px;
}
#u762 {
  position:absolute;
  left:-50px;
  top:56px;
  width:100px;
  word-wrap:break-word;
}
#u763 {
  position:absolute;
  left:914px;
  top:665px;
  width:0px;
  height:0px;
}
#u763_seg0 {
  position:absolute;
  left:-46px;
  top:-4px;
  width:46px;
  height:8px;
}
#u763_seg1 {
  position:absolute;
  left:-46px;
  top:-71px;
  width:8px;
  height:75px;
}
#u763_seg2 {
  position:absolute;
  left:-52px;
  top:-76px;
  width:20px;
  height:20px;
}
#u764 {
  position:absolute;
  left:-92px;
  top:-22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u765_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u765 {
  position:absolute;
  left:440px;
  top:846px;
  width:100px;
  height:60px;
}
#u766 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u767 {
  position:absolute;
  left:440px;
  top:876px;
  width:0px;
  height:0px;
}
#u767_seg0 {
  position:absolute;
  left:-148px;
  top:-4px;
  width:148px;
  height:8px;
}
#u767_seg1 {
  position:absolute;
  left:-148px;
  top:-83px;
  width:8px;
  height:87px;
}
#u767_seg2 {
  position:absolute;
  left:-154px;
  top:-88px;
  width:20px;
  height:20px;
}
#u768 {
  position:absolute;
  left:-164px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u769 {
  position:absolute;
  left:1246px;
  top:644px;
  width:100px;
  height:60px;
}
#u770 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u771_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u771 {
  position:absolute;
  left:1440px;
  top:644px;
  width:100px;
  height:60px;
}
#u772 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u773 {
  position:absolute;
  left:1346px;
  top:674px;
  width:0px;
  height:0px;
}
#u773_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u773_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u774 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u775 {
  position:absolute;
  left:1540px;
  top:674px;
  width:0px;
  height:0px;
}
#u775_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u775_seg1 {
  position:absolute;
  left:86px;
  top:-114px;
  width:8px;
  height:118px;
}
#u775_seg2 {
  position:absolute;
  left:86px;
  top:-114px;
  width:19px;
  height:8px;
}
#u775_seg3 {
  position:absolute;
  left:90px;
  top:-120px;
  width:20px;
  height:20px;
}
#u776 {
  position:absolute;
  left:40px;
  top:-26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u777 {
  position:absolute;
  left:1296px;
  top:644px;
  width:0px;
  height:0px;
}
#u777_seg0 {
  position:absolute;
  left:-4px;
  top:-84px;
  width:8px;
  height:84px;
}
#u777_seg1 {
  position:absolute;
  left:-4px;
  top:-84px;
  width:353px;
  height:8px;
}
#u777_seg2 {
  position:absolute;
  left:334px;
  top:-90px;
  width:20px;
  height:20px;
}
#u778 {
  position:absolute;
  left:84px;
  top:-88px;
  width:100px;
  word-wrap:break-word;
}
