body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1378px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u626_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u626 {
  position:absolute;
  left:54px;
  top:534px;
  width:100px;
  height:60px;
}
#u627 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u628_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u628 {
  position:absolute;
  left:246px;
  top:534px;
  width:100px;
  height:60px;
}
#u629 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u630_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u630 {
  position:absolute;
  left:246px;
  top:320px;
  width:100px;
  height:60px;
}
#u631 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u632_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u632 {
  position:absolute;
  left:246px;
  top:675px;
  width:100px;
  height:60px;
}
#u633 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u634_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u634 {
  position:absolute;
  left:440px;
  top:534px;
  width:100px;
  height:60px;
}
#u635 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u636_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u636 {
  position:absolute;
  left:634px;
  top:534px;
  width:100px;
  height:60px;
}
#u637 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u638_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u638 {
  position:absolute;
  left:822px;
  top:534px;
  width:100px;
  height:60px;
}
#u639 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u640_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u640 {
  position:absolute;
  left:1021px;
  top:534px;
  width:100px;
  height:60px;
}
#u641 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u642_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u642 {
  position:absolute;
  left:1278px;
  top:534px;
  width:100px;
  height:60px;
}
#u643 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u644_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u644 {
  position:absolute;
  left:440px;
  top:320px;
  width:100px;
  height:60px;
}
#u645 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u646_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u646 {
  position:absolute;
  left:634px;
  top:320px;
  width:100px;
  height:60px;
}
#u647 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u648_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u648 {
  position:absolute;
  left:822px;
  top:320px;
  width:100px;
  height:60px;
}
#u649 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u650_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u650 {
  position:absolute;
  left:822px;
  top:187px;
  width:100px;
  height:60px;
}
#u651 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u652_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u652 {
  position:absolute;
  left:440px;
  top:675px;
  width:100px;
  height:60px;
}
#u653 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u654_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u654 {
  position:absolute;
  left:634px;
  top:675px;
  width:100px;
  height:60px;
}
#u655 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u656 {
  position:absolute;
  left:154px;
  top:564px;
  width:0px;
  height:0px;
}
#u656_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:96px;
  height:8px;
}
#u656_seg1 {
  position:absolute;
  left:77px;
  top:-10px;
  width:20px;
  height:20px;
}
#u657 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658 {
  position:absolute;
  left:154px;
  top:564px;
  width:0px;
  height:0px;
}
#u658_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u658_seg1 {
  position:absolute;
  left:72px;
  top:-218px;
  width:8px;
  height:222px;
}
#u658_seg2 {
  position:absolute;
  left:72px;
  top:-218px;
  width:20px;
  height:8px;
}
#u658_seg3 {
  position:absolute;
  left:77px;
  top:-224px;
  width:20px;
  height:20px;
}
#u659 {
  position:absolute;
  left:26px;
  top:-85px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u660 {
  position:absolute;
  left:154px;
  top:564px;
  width:0px;
  height:0px;
}
#u660_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:80px;
  height:8px;
}
#u660_seg1 {
  position:absolute;
  left:72px;
  top:-4px;
  width:8px;
  height:149px;
}
#u660_seg2 {
  position:absolute;
  left:72px;
  top:137px;
  width:20px;
  height:8px;
}
#u660_seg3 {
  position:absolute;
  left:77px;
  top:131px;
  width:20px;
  height:20px;
}
#u661 {
  position:absolute;
  left:26px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u662 {
  position:absolute;
  left:346px;
  top:705px;
  width:0px;
  height:0px;
}
#u662_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u662_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u663 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u664 {
  position:absolute;
  left:540px;
  top:705px;
  width:0px;
  height:0px;
}
#u664_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u664_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u665 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666 {
  position:absolute;
  left:734px;
  top:705px;
  width:0px;
  height:0px;
}
#u666_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:530px;
  height:8px;
}
#u666_seg1 {
  position:absolute;
  left:522px;
  top:-145px;
  width:8px;
  height:149px;
}
#u666_seg2 {
  position:absolute;
  left:522px;
  top:-145px;
  width:22px;
  height:8px;
}
#u666_seg3 {
  position:absolute;
  left:529px;
  top:-151px;
  width:20px;
  height:20px;
}
#u667 {
  position:absolute;
  left:292px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u668 {
  position:absolute;
  left:346px;
  top:564px;
  width:0px;
  height:0px;
}
#u668_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u668_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u669 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670 {
  position:absolute;
  left:540px;
  top:564px;
  width:0px;
  height:0px;
}
#u670_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u670_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u671 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672 {
  position:absolute;
  left:734px;
  top:564px;
  width:0px;
  height:0px;
}
#u672_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u672_seg1 {
  position:absolute;
  left:73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u673 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u674 {
  position:absolute;
  left:922px;
  top:564px;
  width:0px;
  height:0px;
}
#u674_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:103px;
  height:8px;
}
#u674_seg1 {
  position:absolute;
  left:84px;
  top:-10px;
  width:20px;
  height:20px;
}
#u675 {
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u676 {
  position:absolute;
  left:1121px;
  top:564px;
  width:0px;
  height:0px;
}
#u676_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:161px;
  height:8px;
}
#u676_seg1 {
  position:absolute;
  left:142px;
  top:-10px;
  width:20px;
  height:20px;
}
#u677 {
  position:absolute;
  left:28px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u678 {
  position:absolute;
  left:346px;
  top:350px;
  width:0px;
  height:0px;
}
#u678_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u678_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u679 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u680 {
  position:absolute;
  left:540px;
  top:350px;
  width:0px;
  height:0px;
}
#u680_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:98px;
  height:8px;
}
#u680_seg1 {
  position:absolute;
  left:79px;
  top:-10px;
  width:20px;
  height:20px;
}
#u681 {
  position:absolute;
  left:-3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u682 {
  position:absolute;
  left:734px;
  top:350px;
  width:0px;
  height:0px;
}
#u682_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u682_seg1 {
  position:absolute;
  left:73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u683 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u684 {
  position:absolute;
  left:922px;
  top:350px;
  width:0px;
  height:0px;
}
#u684_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:342px;
  height:8px;
}
#u684_seg1 {
  position:absolute;
  left:334px;
  top:-4px;
  width:8px;
  height:222px;
}
#u684_seg2 {
  position:absolute;
  left:334px;
  top:210px;
  width:22px;
  height:8px;
}
#u684_seg3 {
  position:absolute;
  left:341px;
  top:204px;
  width:20px;
  height:20px;
}
#u685 {
  position:absolute;
  left:235px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u686 {
  position:absolute;
  left:872px;
  top:320px;
  width:0px;
  height:0px;
}
#u686_seg0 {
  position:absolute;
  left:-4px;
  top:-73px;
  width:8px;
  height:77px;
}
#u686_seg1 {
  position:absolute;
  left:-10px;
  top:-78px;
  width:20px;
  height:20px;
}
#u687 {
  position:absolute;
  left:-50px;
  top:-44px;
  width:100px;
  word-wrap:break-word;
}
#u688 {
  position:absolute;
  left:684px;
  top:735px;
  width:0px;
  height:0px;
}
#u688_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:66px;
}
#u688_seg1 {
  position:absolute;
  left:-392px;
  top:57px;
  width:396px;
  height:8px;
}
#u688_seg2 {
  position:absolute;
  left:-392px;
  top:-1px;
  width:8px;
  height:66px;
}
#u688_seg3 {
  position:absolute;
  left:-398px;
  top:-6px;
  width:20px;
  height:21px;
}
#u689 {
  position:absolute;
  left:-244px;
  top:53px;
  width:100px;
  word-wrap:break-word;
}
#u690 {
  position:absolute;
  left:1071px;
  top:594px;
  width:0px;
  height:0px;
}
#u690_seg0 {
  position:absolute;
  left:-4px;
  top:-1px;
  width:8px;
  height:42px;
}
#u690_seg1 {
  position:absolute;
  left:-203px;
  top:33px;
  width:207px;
  height:8px;
}
#u690_seg2 {
  position:absolute;
  left:-203px;
  top:-1px;
  width:8px;
  height:42px;
}
#u690_seg3 {
  position:absolute;
  left:-209px;
  top:-6px;
  width:20px;
  height:21px;
}
#u691 {
  position:absolute;
  left:-150px;
  top:29px;
  width:100px;
  word-wrap:break-word;
}
#u692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u692 {
  position:absolute;
  left:822px;
  top:62px;
  width:100px;
  height:60px;
}
#u693 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u694 {
  position:absolute;
  left:872px;
  top:187px;
  width:0px;
  height:0px;
}
#u694_seg0 {
  position:absolute;
  left:-4px;
  top:-65px;
  width:8px;
  height:69px;
}
#u694_seg1 {
  position:absolute;
  left:-10px;
  top:-70px;
  width:20px;
  height:20px;
}
#u695 {
  position:absolute;
  left:-50px;
  top:-40px;
  width:100px;
  word-wrap:break-word;
}
#u696 {
  position:absolute;
  left:822px;
  top:92px;
  width:0px;
  height:0px;
}
#u696_seg0 {
  position:absolute;
  left:-336px;
  top:-4px;
  width:336px;
  height:8px;
}
#u696_seg1 {
  position:absolute;
  left:-336px;
  top:-4px;
  width:8px;
  height:236px;
}
#u696_seg2 {
  position:absolute;
  left:-336px;
  top:228px;
  width:8px;
  height:4px;
}
#u696_seg3 {
  position:absolute;
  left:-342px;
  top:213px;
  width:20px;
  height:20px;
}
#u697 {
  position:absolute;
  left:-330px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u698 {
  position:absolute;
  left:822px;
  top:217px;
  width:0px;
  height:0px;
}
#u698_seg0 {
  position:absolute;
  left:-336px;
  top:-4px;
  width:336px;
  height:8px;
}
#u698_seg1 {
  position:absolute;
  left:-336px;
  top:-4px;
  width:8px;
  height:111px;
}
#u698_seg2 {
  position:absolute;
  left:-336px;
  top:103px;
  width:8px;
  height:4px;
}
#u698_seg3 {
  position:absolute;
  left:-342px;
  top:88px;
  width:20px;
  height:20px;
}
#u699 {
  position:absolute;
  left:-268px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u700_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u700 {
  position:absolute;
  left:1055px;
  top:62px;
  width:100px;
  height:60px;
}
#u701 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u702 {
  position:absolute;
  left:922px;
  top:92px;
  width:0px;
  height:0px;
}
#u702_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:137px;
  height:8px;
}
#u702_seg1 {
  position:absolute;
  left:118px;
  top:-10px;
  width:20px;
  height:20px;
}
#u703 {
  position:absolute;
  left:16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u704 {
  position:absolute;
  left:440px;
  top:438px;
  width:100px;
  height:60px;
}
#u705 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u706 {
  position:absolute;
  left:684px;
  top:380px;
  width:0px;
  height:0px;
}
#u706_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:92px;
}
#u706_seg1 {
  position:absolute;
  left:-144px;
  top:84px;
  width:148px;
  height:8px;
}
#u706_seg2 {
  position:absolute;
  left:-149px;
  top:78px;
  width:20px;
  height:20px;
}
#u707 {
  position:absolute;
  left:-78px;
  top:80px;
  width:100px;
  word-wrap:break-word;
}
#u708 {
  position:absolute;
  left:440px;
  top:468px;
  width:0px;
  height:0px;
}
#u708_seg0 {
  position:absolute;
  left:-148px;
  top:-4px;
  width:148px;
  height:8px;
}
#u708_seg1 {
  position:absolute;
  left:-148px;
  top:-4px;
  width:8px;
  height:70px;
}
#u708_seg2 {
  position:absolute;
  left:-154px;
  top:51px;
  width:20px;
  height:20px;
}
#u709 {
  position:absolute;
  left:-155px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u710 {
  position:absolute;
  left:490px;
  top:438px;
  width:0px;
  height:0px;
}
#u710_seg0 {
  position:absolute;
  left:-4px;
  top:-58px;
  width:8px;
  height:62px;
}
#u710_seg1 {
  position:absolute;
  left:-10px;
  top:-63px;
  width:20px;
  height:20px;
}
#u711 {
  position:absolute;
  left:-50px;
  top:-37px;
  width:100px;
  word-wrap:break-word;
}
