body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1094px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3530_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:829px;
}
#u3530 {
  position:absolute;
  left:400px;
  top:10px;
  width:422px;
  height:829px;
}
#u3531 {
  position:absolute;
  left:2px;
  top:406px;
  width:418px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3532 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:302px;
}
#u3533 {
  position:absolute;
  left:421px;
  top:76px;
  width:375px;
  height:302px;
}
#u3534 {
  position:absolute;
  left:2px;
  top:143px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:366px;
}
#u3535 {
  position:absolute;
  left:421px;
  top:378px;
  width:375px;
  height:366px;
}
#u3536 {
  position:absolute;
  left:2px;
  top:175px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3537 {
  position:absolute;
  left:432px;
  top:102px;
  width:31px;
  height:31px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3538_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:91px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3538 {
  position:absolute;
  left:844px;
  top:83px;
  width:250px;
  height:91px;
  text-align:left;
}
#u3539 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3540_div {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:56px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u3540 {
  position:absolute;
  left:132px;
  top:154px;
  width:250px;
  height:56px;
  text-align:left;
}
#u3541 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  word-wrap:break-word;
}
#u3542 {
  position:absolute;
  left:382px;
  top:182px;
  width:0px;
  height:0px;
}
#u3542_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:52px;
  height:8px;
}
#u3542_seg1 {
  position:absolute;
  left:44px;
  top:-3px;
  width:8px;
  height:7px;
}
#u3542_seg2 {
  position:absolute;
  left:38px;
  top:-10px;
  width:20px;
  height:21px;
}
#u3543 {
  position:absolute;
  left:-24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3544 {
  position:absolute;
  left:844px;
  top:129px;
  width:0px;
  height:0px;
}
#u3544_seg0 {
  position:absolute;
  left:-67px;
  top:-4px;
  width:67px;
  height:8px;
}
#u3544_seg1 {
  position:absolute;
  left:-67px;
  top:-2px;
  width:8px;
  height:6px;
}
#u3544_seg2 {
  position:absolute;
  left:-73px;
  top:-9px;
  width:20px;
  height:21px;
}
#u3545 {
  position:absolute;
  left:-82px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
