body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2120px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1651_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1651 {
  position:absolute;
  left:110px;
  top:192px;
  width:100px;
  height:60px;
}
#u1652 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1653_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1653 {
  position:absolute;
  left:286px;
  top:96px;
  width:100px;
  height:60px;
}
#u1654 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1655_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1655 {
  position:absolute;
  left:286px;
  top:307px;
  width:100px;
  height:60px;
}
#u1656 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1657_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1657 {
  position:absolute;
  left:479px;
  top:307px;
  width:100px;
  height:60px;
}
#u1658 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1659_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1659 {
  position:absolute;
  left:667px;
  top:307px;
  width:100px;
  height:60px;
}
#u1660 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1661_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1661 {
  position:absolute;
  left:479px;
  top:96px;
  width:100px;
  height:60px;
}
#u1662 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1663_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1663 {
  position:absolute;
  left:667px;
  top:96px;
  width:100px;
  height:60px;
}
#u1664 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1665_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1665 {
  position:absolute;
  left:852px;
  top:96px;
  width:100px;
  height:60px;
}
#u1666 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1667 {
  position:absolute;
  left:1048px;
  top:96px;
  width:100px;
  height:60px;
}
#u1668 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1669 {
  position:absolute;
  left:1226px;
  top:96px;
  width:100px;
  height:60px;
}
#u1670 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1671 {
  position:absolute;
  left:1386px;
  top:96px;
  width:100px;
  height:60px;
}
#u1672 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1673 {
  position:absolute;
  left:1555px;
  top:96px;
  width:100px;
  height:60px;
}
#u1674 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1675_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1675 {
  position:absolute;
  left:1757px;
  top:96px;
  width:100px;
  height:60px;
}
#u1676 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1677_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1677 {
  position:absolute;
  left:2020px;
  top:202px;
  width:100px;
  height:60px;
}
#u1678 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1679_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1679 {
  position:absolute;
  left:1303px;
  top:208px;
  width:100px;
  height:60px;
}
#u1680 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1681 {
  position:absolute;
  left:1605px;
  top:156px;
  width:0px;
  height:0px;
}
#u1681_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u1681_seg1 {
  position:absolute;
  left:-256px;
  top:30px;
  width:260px;
  height:8px;
}
#u1681_seg2 {
  position:absolute;
  left:-256px;
  top:30px;
  width:8px;
  height:22px;
}
#u1681_seg3 {
  position:absolute;
  left:-262px;
  top:37px;
  width:20px;
  height:20px;
}
#u1682 {
  position:absolute;
  left:-168px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u1683 {
  position:absolute;
  left:1655px;
  top:126px;
  width:0px;
  height:0px;
}
#u1683_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u1683_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1684 {
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1685 {
  position:absolute;
  left:1486px;
  top:126px;
  width:0px;
  height:0px;
}
#u1685_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u1685_seg1 {
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1686 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1687 {
  position:absolute;
  left:1436px;
  top:156px;
  width:0px;
  height:0px;
}
#u1687_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u1687_seg1 {
  position:absolute;
  left:-87px;
  top:30px;
  width:91px;
  height:8px;
}
#u1687_seg2 {
  position:absolute;
  left:-87px;
  top:30px;
  width:8px;
  height:22px;
}
#u1687_seg3 {
  position:absolute;
  left:-93px;
  top:37px;
  width:20px;
  height:20px;
}
#u1688 {
  position:absolute;
  left:-84px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u1689 {
  position:absolute;
  left:1276px;
  top:156px;
  width:0px;
  height:0px;
}
#u1689_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u1689_seg1 {
  position:absolute;
  left:-4px;
  top:30px;
  width:85px;
  height:8px;
}
#u1689_seg2 {
  position:absolute;
  left:73px;
  top:30px;
  width:8px;
  height:22px;
}
#u1689_seg3 {
  position:absolute;
  left:67px;
  top:37px;
  width:20px;
  height:20px;
}
#u1690 {
  position:absolute;
  left:-20px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u1691 {
  position:absolute;
  left:1098px;
  top:156px;
  width:0px;
  height:0px;
}
#u1691_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u1691_seg1 {
  position:absolute;
  left:-4px;
  top:30px;
  width:263px;
  height:8px;
}
#u1691_seg2 {
  position:absolute;
  left:251px;
  top:30px;
  width:8px;
  height:22px;
}
#u1691_seg3 {
  position:absolute;
  left:245px;
  top:37px;
  width:20px;
  height:20px;
}
#u1692 {
  position:absolute;
  left:70px;
  top:26px;
  width:100px;
  word-wrap:break-word;
}
#u1693 {
  position:absolute;
  left:1326px;
  top:126px;
  width:0px;
  height:0px;
}
#u1693_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u1693_seg1 {
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1694 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1695 {
  position:absolute;
  left:1148px;
  top:126px;
  width:0px;
  height:0px;
}
#u1695_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:82px;
  height:8px;
}
#u1695_seg1 {
  position:absolute;
  left:63px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1696 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1697 {
  position:absolute;
  left:1303px;
  top:238px;
  width:0px;
  height:0px;
}
#u1697_seg0 {
  position:absolute;
  left:-686px;
  top:-4px;
  width:686px;
  height:8px;
}
#u1697_seg1 {
  position:absolute;
  left:-686px;
  top:-102px;
  width:8px;
  height:106px;
}
#u1697_seg2 {
  position:absolute;
  left:-692px;
  top:-107px;
  width:20px;
  height:20px;
}
#u1698 {
  position:absolute;
  left:-442px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1699 {
  position:absolute;
  left:579px;
  top:126px;
  width:0px;
  height:0px;
}
#u1699_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u1699_seg1 {
  position:absolute;
  left:73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1700 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701 {
  position:absolute;
  left:386px;
  top:126px;
  width:0px;
  height:0px;
}
#u1701_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u1701_seg1 {
  position:absolute;
  left:78px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1702 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1703 {
  position:absolute;
  left:210px;
  top:222px;
  width:0px;
  height:0px;
}
#u1703_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u1703_seg1 {
  position:absolute;
  left:56px;
  top:-100px;
  width:8px;
  height:104px;
}
#u1703_seg2 {
  position:absolute;
  left:56px;
  top:-100px;
  width:20px;
  height:8px;
}
#u1703_seg3 {
  position:absolute;
  left:61px;
  top:-106px;
  width:20px;
  height:20px;
}
#u1704 {
  position:absolute;
  left:10px;
  top:-34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1705 {
  position:absolute;
  left:767px;
  top:126px;
  width:0px;
  height:0px;
}
#u1705_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u1705_seg1 {
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1706 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1707 {
  position:absolute;
  left:952px;
  top:126px;
  width:0px;
  height:0px;
}
#u1707_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u1707_seg1 {
  position:absolute;
  left:81px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1708 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1709 {
  position:absolute;
  left:1857px;
  top:126px;
  width:0px;
  height:0px;
}
#u1709_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:137px;
  height:8px;
}
#u1709_seg1 {
  position:absolute;
  left:129px;
  top:-4px;
  width:8px;
  height:114px;
}
#u1709_seg2 {
  position:absolute;
  left:129px;
  top:102px;
  width:34px;
  height:8px;
}
#u1709_seg3 {
  position:absolute;
  left:148px;
  top:96px;
  width:20px;
  height:20px;
}
#u1710 {
  position:absolute;
  left:83px;
  top:-6px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1711 {
  position:absolute;
  left:210px;
  top:222px;
  width:0px;
  height:0px;
}
#u1711_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u1711_seg1 {
  position:absolute;
  left:56px;
  top:-4px;
  width:8px;
  height:123px;
}
#u1711_seg2 {
  position:absolute;
  left:56px;
  top:111px;
  width:20px;
  height:8px;
}
#u1711_seg3 {
  position:absolute;
  left:61px;
  top:105px;
  width:20px;
  height:20px;
}
#u1712 {
  position:absolute;
  left:10px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1713 {
  position:absolute;
  left:386px;
  top:337px;
  width:0px;
  height:0px;
}
#u1713_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u1713_seg1 {
  position:absolute;
  left:78px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1714 {
  position:absolute;
  left:-4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1715 {
  position:absolute;
  left:579px;
  top:337px;
  width:0px;
  height:0px;
}
#u1715_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:92px;
  height:8px;
}
#u1715_seg1 {
  position:absolute;
  left:73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1716 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1717_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1717 {
  position:absolute;
  left:852px;
  top:307px;
  width:100px;
  height:60px;
}
#u1718 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1719 {
  position:absolute;
  left:767px;
  top:337px;
  width:0px;
  height:0px;
}
#u1719_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:89px;
  height:8px;
}
#u1719_seg1 {
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1720 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1721_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1721 {
  position:absolute;
  left:1132px;
  top:437px;
  width:100px;
  height:60px;
}
#u1722 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u1723 {
  position:absolute;
  left:902px;
  top:367px;
  width:0px;
  height:0px;
}
#u1723_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u1723_seg1 {
  position:absolute;
  left:-4px;
  top:49px;
  width:288px;
  height:8px;
}
#u1723_seg2 {
  position:absolute;
  left:276px;
  top:49px;
  width:8px;
  height:21px;
}
#u1723_seg3 {
  position:absolute;
  left:270px;
  top:55px;
  width:20px;
  height:20px;
}
#u1724 {
  position:absolute;
  left:72px;
  top:45px;
  width:100px;
  word-wrap:break-word;
}
#u1725 {
  position:absolute;
  left:1132px;
  top:467px;
  width:0px;
  height:0px;
}
#u1725_seg0 {
  position:absolute;
  left:-419px;
  top:-4px;
  width:419px;
  height:8px;
}
#u1725_seg1 {
  position:absolute;
  left:-419px;
  top:-100px;
  width:8px;
  height:104px;
}
#u1725_seg2 {
  position:absolute;
  left:-425px;
  top:-105px;
  width:20px;
  height:20px;
}
#u1726 {
  position:absolute;
  left:-308px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1727_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1727 {
  position:absolute;
  left:1048px;
  top:307px;
  width:100px;
  height:60px;
}
#u1728 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1729 {
  position:absolute;
  left:1226px;
  top:307px;
  width:100px;
  height:60px;
}
#u1730 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1731 {
  position:absolute;
  left:1386px;
  top:307px;
  width:100px;
  height:60px;
}
#u1732 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u1733 {
  position:absolute;
  left:1555px;
  top:307px;
  width:100px;
  height:60px;
}
#u1734 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u1735 {
  position:absolute;
  left:1486px;
  top:337px;
  width:0px;
  height:0px;
}
#u1735_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u1735_seg1 {
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1736 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1737 {
  position:absolute;
  left:1326px;
  top:337px;
  width:0px;
  height:0px;
}
#u1737_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:64px;
  height:8px;
}
#u1737_seg1 {
  position:absolute;
  left:45px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1738 {
  position:absolute;
  left:-20px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1739 {
  position:absolute;
  left:1148px;
  top:337px;
  width:0px;
  height:0px;
}
#u1739_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:82px;
  height:8px;
}
#u1739_seg1 {
  position:absolute;
  left:63px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1740 {
  position:absolute;
  left:-11px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1741 {
  position:absolute;
  left:952px;
  top:337px;
  width:0px;
  height:0px;
}
#u1741_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:100px;
  height:8px;
}
#u1741_seg1 {
  position:absolute;
  left:81px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1742 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1743_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1743 {
  position:absolute;
  left:1555px;
  top:506px;
  width:100px;
  height:60px;
}
#u1744 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1745 {
  position:absolute;
  left:1098px;
  top:367px;
  width:0px;
  height:0px;
}
#u1745_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u1745_seg1 {
  position:absolute;
  left:-4px;
  top:49px;
  width:92px;
  height:8px;
}
#u1745_seg2 {
  position:absolute;
  left:80px;
  top:49px;
  width:8px;
  height:21px;
}
#u1745_seg3 {
  position:absolute;
  left:74px;
  top:55px;
  width:20px;
  height:20px;
}
#u1746 {
  position:absolute;
  left:-26px;
  top:45px;
  width:100px;
  word-wrap:break-word;
}
#u1747 {
  position:absolute;
  left:1436px;
  top:367px;
  width:0px;
  height:0px;
}
#u1747_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u1747_seg1 {
  position:absolute;
  left:-258px;
  top:49px;
  width:262px;
  height:8px;
}
#u1747_seg2 {
  position:absolute;
  left:-258px;
  top:49px;
  width:8px;
  height:21px;
}
#u1747_seg3 {
  position:absolute;
  left:-264px;
  top:55px;
  width:20px;
  height:20px;
}
#u1748 {
  position:absolute;
  left:-159px;
  top:45px;
  width:100px;
  word-wrap:break-word;
}
#u1749 {
  position:absolute;
  left:1276px;
  top:367px;
  width:0px;
  height:0px;
}
#u1749_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:57px;
}
#u1749_seg1 {
  position:absolute;
  left:-98px;
  top:49px;
  width:102px;
  height:8px;
}
#u1749_seg2 {
  position:absolute;
  left:-98px;
  top:49px;
  width:8px;
  height:21px;
}
#u1749_seg3 {
  position:absolute;
  left:-104px;
  top:55px;
  width:20px;
  height:20px;
}
#u1750 {
  position:absolute;
  left:-79px;
  top:45px;
  width:100px;
  word-wrap:break-word;
}
#u1751 {
  position:absolute;
  left:1605px;
  top:367px;
  width:0px;
  height:0px;
}
#u1751_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:143px;
}
#u1751_seg1 {
  position:absolute;
  left:-10px;
  top:124px;
  width:20px;
  height:20px;
}
#u1752 {
  position:absolute;
  left:-50px;
  top:62px;
  width:100px;
  word-wrap:break-word;
}
#u1753 {
  position:absolute;
  left:1555px;
  top:536px;
  width:0px;
  height:0px;
}
#u1753_seg0 {
  position:absolute;
  left:-1030px;
  top:-4px;
  width:1030px;
  height:8px;
}
#u1753_seg1 {
  position:absolute;
  left:-1030px;
  top:-169px;
  width:8px;
  height:173px;
}
#u1753_seg2 {
  position:absolute;
  left:-1036px;
  top:-174px;
  width:20px;
  height:20px;
}
#u1754 {
  position:absolute;
  left:-648px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1755_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1755 {
  position:absolute;
  left:1757px;
  top:307px;
  width:100px;
  height:60px;
}
#u1756 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u1757 {
  position:absolute;
  left:1655px;
  top:337px;
  width:0px;
  height:0px;
}
#u1757_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:106px;
  height:8px;
}
#u1757_seg1 {
  position:absolute;
  left:87px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1758 {
  position:absolute;
  left:1px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u1759 {
  position:absolute;
  left:1857px;
  top:337px;
  width:0px;
  height:0px;
}
#u1759_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:138px;
  height:8px;
}
#u1759_seg1 {
  position:absolute;
  left:130px;
  top:-109px;
  width:8px;
  height:113px;
}
#u1759_seg2 {
  position:absolute;
  left:130px;
  top:-109px;
  width:33px;
  height:8px;
}
#u1759_seg3 {
  position:absolute;
  left:148px;
  top:-115px;
  width:20px;
  height:20px;
}
#u1760 {
  position:absolute;
  left:84px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
