body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u768_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u768 {
  position:absolute;
  left:136px;
  top:249px;
  width:100px;
  height:60px;
}
#u769 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u770_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u770 {
  position:absolute;
  left:311px;
  top:249px;
  width:100px;
  height:60px;
}
#u771 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u772_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u772 {
  position:absolute;
  left:495px;
  top:173px;
  width:100px;
  height:60px;
}
#u773 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u774_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u774 {
  position:absolute;
  left:495px;
  top:319px;
  width:100px;
  height:60px;
}
#u775 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u776 {
  position:absolute;
  left:692px;
  top:319px;
  width:100px;
  height:60px;
}
#u777 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u778_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u778 {
  position:absolute;
  left:692px;
  top:173px;
  width:100px;
  height:60px;
}
#u779 {
  position:absolute;
  left:2px;
  top:14px;
  width:96px;
  word-wrap:break-word;
}
#u780_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u780 {
  position:absolute;
  left:1095px;
  top:249px;
  width:100px;
  height:60px;
}
#u781 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u782_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u782 {
  position:absolute;
  left:874px;
  top:319px;
  width:100px;
  height:60px;
}
#u783 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u784_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u784 {
  position:absolute;
  left:874px;
  top:434px;
  width:100px;
  height:60px;
}
#u785 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u786 {
  position:absolute;
  left:974px;
  top:464px;
  width:0px;
  height:0px;
}
#u786_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:110px;
  height:8px;
}
#u786_seg1 {
  position:absolute;
  left:102px;
  top:-189px;
  width:8px;
  height:193px;
}
#u786_seg2 {
  position:absolute;
  left:102px;
  top:-189px;
  width:19px;
  height:8px;
}
#u786_seg3 {
  position:absolute;
  left:106px;
  top:-195px;
  width:20px;
  height:20px;
}
#u787 {
  position:absolute;
  left:56px;
  top:-55px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u788 {
  position:absolute;
  left:974px;
  top:349px;
  width:0px;
  height:0px;
}
#u788_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:110px;
  height:8px;
}
#u788_seg1 {
  position:absolute;
  left:102px;
  top:-74px;
  width:8px;
  height:78px;
}
#u788_seg2 {
  position:absolute;
  left:102px;
  top:-74px;
  width:19px;
  height:8px;
}
#u788_seg3 {
  position:absolute;
  left:106px;
  top:-80px;
  width:20px;
  height:20px;
}
#u789 {
  position:absolute;
  left:46px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u790 {
  position:absolute;
  left:792px;
  top:203px;
  width:0px;
  height:0px;
}
#u790_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:292px;
  height:8px;
}
#u790_seg1 {
  position:absolute;
  left:284px;
  top:-4px;
  width:8px;
  height:84px;
}
#u790_seg2 {
  position:absolute;
  left:284px;
  top:72px;
  width:19px;
  height:8px;
}
#u790_seg3 {
  position:absolute;
  left:288px;
  top:66px;
  width:20px;
  height:20px;
}
#u791 {
  position:absolute;
  left:140px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u792 {
  position:absolute;
  left:236px;
  top:279px;
  width:0px;
  height:0px;
}
#u792_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u792_seg1 {
  position:absolute;
  left:60px;
  top:-10px;
  width:20px;
  height:20px;
}
#u793 {
  position:absolute;
  left:-12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u794 {
  position:absolute;
  left:411px;
  top:279px;
  width:0px;
  height:0px;
}
#u794_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u794_seg1 {
  position:absolute;
  left:65px;
  top:-80px;
  width:8px;
  height:84px;
}
#u794_seg2 {
  position:absolute;
  left:65px;
  top:-80px;
  width:19px;
  height:8px;
}
#u794_seg3 {
  position:absolute;
  left:69px;
  top:-86px;
  width:20px;
  height:20px;
}
#u795 {
  position:absolute;
  left:19px;
  top:-19px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u796 {
  position:absolute;
  left:411px;
  top:279px;
  width:0px;
  height:0px;
}
#u796_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u796_seg1 {
  position:absolute;
  left:65px;
  top:-4px;
  width:8px;
  height:78px;
}
#u796_seg2 {
  position:absolute;
  left:65px;
  top:66px;
  width:19px;
  height:8px;
}
#u796_seg3 {
  position:absolute;
  left:69px;
  top:60px;
  width:20px;
  height:20px;
}
#u797 {
  position:absolute;
  left:19px;
  top:0px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u798 {
  position:absolute;
  left:595px;
  top:203px;
  width:0px;
  height:0px;
}
#u798_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u798_seg1 {
  position:absolute;
  left:82px;
  top:-10px;
  width:20px;
  height:20px;
}
#u799 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u800 {
  position:absolute;
  left:595px;
  top:349px;
  width:0px;
  height:0px;
}
#u800_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u800_seg1 {
  position:absolute;
  left:82px;
  top:-10px;
  width:20px;
  height:20px;
}
#u801 {
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u802 {
  position:absolute;
  left:792px;
  top:349px;
  width:0px;
  height:0px;
}
#u802_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:86px;
  height:8px;
}
#u802_seg1 {
  position:absolute;
  left:67px;
  top:-10px;
  width:20px;
  height:20px;
}
#u803 {
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u804 {
  position:absolute;
  left:742px;
  top:379px;
  width:0px;
  height:0px;
}
#u804_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:89px;
}
#u804_seg1 {
  position:absolute;
  left:-4px;
  top:81px;
  width:136px;
  height:8px;
}
#u804_seg2 {
  position:absolute;
  left:117px;
  top:75px;
  width:20px;
  height:20px;
}
#u805 {
  position:absolute;
  left:-26px;
  top:77px;
  width:100px;
  word-wrap:break-word;
}
